@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.FacilityStatus.IndexModel
@{
    ViewData["Title"] = $"Site Maintenance: {MaintenanceOptions.FacilityStatus}";
}
<h1>@ViewData["Title"]</h1>
<partial name="_AlertPartial" for="DisplayMessage" />

<table class="table">
    <caption class="container border-top">
        <a asp-page="Add" class="btn btn-outline-primary btn-sm">Add New @MaintenanceOptions.FacilityStatus</a>
    </caption>
    <thead class="thead-light">
    <tr>
        <th scope="col">Status Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.FacilityStatuses)
    {
        <tr class="@(!item.Active ? "table-secondary" : "")">
            <td class="text-nowrap">
                @Html.DisplayFor(m => item.Status, "StringOrNone")
                @Html.DisplayFor(m => item.Active, "BoolRemoved")
            </td>
            <td class="text-nowrap">
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Restore/Remove</a>
            </td>
        </tr>
    }
    </tbody>
</table>