@page "{id:Guid?}"
@using FMS.Pages.Event
@using FMS.Domain.Entities.Users
@model FMS.Pages.Event.EditModel

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ActionSelectPartial" />
    <script>
        setUpActionTypeDropdown(
            "EditEvent_EventTypeId",
            "EditEvent_ActionTakenId",
            "None Selected");
    </script>
}

@{
    ViewData["Title"] = "Edit Event";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="container bg-light-subtle py-3 rounded-3">
        <p>Select a Master Project as the Parent for this new Event, if applicable.</p>
        <div class="row justify-content-evenly">
            <table class="table table-sm" aria-label="Events">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"><em class="">Select Parent Master Project</em></th>
                        <th scope="col">Action Taken</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Completion Date</th>
                        <th scope="col">Done By</th>
                        <th scope="col">Event Amount</th>
                        <th scope="col">Entity Name or No.</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Facility.Events)
                    {
                        if (item.EventType.Name == "HWTF Master Project")
                        {
                            <tr class="@(item.Id == Model.Id ? " table-danger" : "")">
                                <td class="text-nowrap">
                                    <label>
                                        @Html.RadioButtonFor(m => m.ParentEventId, item.Id)
                                        @Html.DisplayFor(m => item.EventType.Name)
                                    </label>
                                </td>
                                <td>@Html.DisplayFor(m => item.ActionTaken.Name)</td>
                                <td>@Html.DisplayFor(m => item.StartDate)</td>
                                <td>@Html.DisplayFor(m => item.DueDate)</td>
                                <td>@Html.DisplayFor(m => item.CompletionDate)</td>
                                <td>@Html.DisplayFor(m => item.ComplianceOfficer.Name)</td>
                                <td>@Html.DisplayFor(m => item.EventAmount)</td>
                                <td>
                                    @if (item.EventContractor != null)
                                    {
                                        @Html.DisplayFor(m => item.EventContractor.Name)
                                    }
                                </td>
                                <td>@Html.DisplayFor(m => item.Comment)</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="12">
                            <label class="active">
                                @Html.RadioButtonFor(m => m.ParentEventId, Guid.Empty)
                                None
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container bg-light-subtle py-3 my-3 rounded-3">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <input type="hidden" asp-for="EditEvent.FacilityId" />
        <input type="hidden" asp-for="EditEvent.ParentId" />
        <input type="hidden" asp-for="EditEvent.Id" />
        <input type="hidden" asp-for="EditEvent.Active" />
        <div class="row">
            <div class="col">
                <label asp-for="EditEvent.EventTypeId"></label>
                <select asp-for="EditEvent.EventTypeId" asp-items="Model.EventTypes" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="EditEvent.EventTypeId" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EditEvent.ActionTakenId"></label>
                <select asp-for="EditEvent.ActionTakenId" asp-items="Model.AllowedActionsTaken" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="EditEvent.ActionTakenId" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EditEvent.StartDate" class="form-label"></label>
                <input asp-for="EditEvent.StartDate" class="form-control datepicker" type="date" placeholder="" />
                <span asp-validation-for="EditEvent.StartDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EditEvent.DueDate" class="form-label"></label>
                <input asp-for="EditEvent.DueDate" class="form-control datepicker" type="date" placeholder="" />
                <span asp-validation-for="EditEvent.DueDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="EditEvent.CompletionDate" class="form-label"></label>
                <input asp-for="EditEvent.CompletionDate" class="form-control datepicker" type="date" placeholder="" />
                <span asp-validation-for="EditEvent.CompletionDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EditEvent.ComplianceOfficerId"></label>
                <select asp-for="EditEvent.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="EditEvent.ComplianceOfficerId" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EditEvent.EventAmount"></label>
                <input asp-for="EditEvent.EventAmount" class="form-control" />
                <span asp-validation-for="EditEvent.EventAmount" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="EditEvent.EventContractorId"></label>
                <select asp-for="EditEvent.EventContractorId" asp-items="Model.EventContractors" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="EditEvent.EventContractorId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="EditEvent.Comment" class="form-label"></label>
                <textarea asp-for="EditEvent.Comment" class="form-control" rows="3"></textarea>
                <span asp-validation-for="EditEvent.Comment" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary col-sm-4 col-md-3 mb-3 mb-sm-0">Save Event</button>
        <a asp-page="../Facilities/Details" asp-route-Id="@Model.EditEvent.FacilityId" class="btn btn-outline-secondary col-md-2">Cancel</a>
    </div>
    @if (Model.Facility.Events.Count > 0)
    {
        <div class="container bg-light-subtle py-3 rounded-3">
            <h3>Existing Events for @Model.Facility.FacilityNumber</h3>
            <div class="row justify-content-evenly">
                <table class="table table-sm" aria-label="Events">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Event Type</th>
                            <th scope="col">Action Taken</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Completion Date</th>
                            <th scope="col">Done By</th>
                            <th scope="col">Event Amount</th>
                            <th scope="col">Entity Name or No.</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Events.Count; i++)
                        {
                            var item = Model.Events[i];
                            <tr class="@((item.ParentId != Guid.Empty ? "text-muted table-warning" : "") + (item.EventType.Name == "HWTF Master Project" ? " table-info" : "") + (item.Id == Model.Id ? " table-danger" : ""))">
                                <td>
                                    @if (item.ParentId != Guid.Empty)
                                    {
                                        <span class="badge text-bg-info"> ^ </span>
                                    }
                                    @item.EventType.Name
                                </td>
                                <td>@Html.DisplayFor(m => item.ActionTaken.Name)</td>
                                <td>@Html.DisplayFor(m => item.StartDate)</td>
                                <td>@Html.DisplayFor(m => item.DueDate)</td>
                                <td>@Html.DisplayFor(m => item.CompletionDate)</td>
                                <td>@Html.DisplayFor(m => item.ComplianceOfficer.Name)</td>
                                <td>@Html.DisplayFor(m => item.EventAmount)</td>
                                <td>
                                    @if (item.EventContractor != null)
                                    {
                                        @Html.DisplayFor(m => item.EventContractor.Name)
                                    }
                                </td>
                                <td>@Html.DisplayFor(m => item.Comment)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</form>