@page "{id:Guid?}"
@using FMS.Domain.Entities.Users
@model FMS.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit User Roles";
}

<h1>@ViewData["Title"]</h1>

<div class="container bg-light-subtle py-3 rounded-3">
    <form method="post">
        <p>Roles for: <strong>@Model.DisplayName</strong> (@Model.Email)</p>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            User update failed:
        </div>
        <div class="form-check mb-3">
            <input asp-for="HasUserAdminRole" class="form-check-input" aria-describedby="UserAdminRoleHelpBlock">
            <label asp-for="HasUserAdminRole" class="form-check-label font-weight-bold">
                <strong>@UserRoles.DisplayName(UserRoles.UserMaintenance)</strong>
                <br />
                <small id="UserAdminRoleHelpBlock" class="form-text text-muted">
                    @UserRoles.Description(UserRoles.UserMaintenance)
                </small>
            </label>
        </div>
        <div class="form-check mb-3">
            <input asp-for="HasSiteMaintenanceRole" class="form-check-input" aria-describedby="SiteMaintenanceRoleHelpBlock">
            <label asp-for="HasSiteMaintenanceRole" class="form-check-label font-weight-bold">
                <strong>@UserRoles.DisplayName(UserRoles.SiteMaintenance)</strong>
                <br />
                <small id="SiteMaintenanceRoleHelpBlock" class="form-text text-muted">
                    @UserRoles.Description(UserRoles.SiteMaintenance)
                </small>
            </label>
        </div>
        <div class="form-check mb-3">
            <input asp-for="HasFileCreatorRole" class="form-check-input" aria-describedby="CreatorRoleHelpBlock">
            <label asp-for="HasFileCreatorRole" class="form-check-label font-weight-bold">
                <strong>@UserRoles.DisplayName(UserRoles.FileCreator)</strong>
                <br />
                <small id="CreatorRoleHelpBlock" class="form-text text-muted">
                    @UserRoles.Description(UserRoles.FileCreator)
                </small>
            </label>
        </div>
        <div class="form-check mb-3">
            <input asp-for="HasFileEditorRole" class="form-check-input" aria-describedby="EditorRoleHelpBlock">
            <label asp-for="HasFileEditorRole" class="form-check-label font-weight-bold">
                <strong>@UserRoles.DisplayName(UserRoles.FileEditor)</strong>
                <br />
                <small id="EditorRoleHelpBlock" class="form-text text-muted">
                    @UserRoles.Description(UserRoles.FileEditor)
                </small>
            </label>
        </div>
        <hr />
        <input asp-for="UserId">
        <button type="submit" class="btn btn-primary col-sm-3 mb-3 mb-sm-0">Save Changes</button>
        <a asp-page="./Details" asp-route-id="@Model.UserId" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>