@page
@using FMS.Domain.Dto
@using FMS.Domain.Entities.Users
@using FMS.Platform.Extensions
@using System.Globalization
@model FMS.Pages.Reporting.SiteSummary.ReportModel
@{
    Layout = "_ReportLayout";
}

@{
    ViewData["Title"] = $"Site Summary(s)";
}

@if (Model.ReportList.Count == 0)
{
    <p class="lead text-info">No matching results found.</p>
}
else
{
    @foreach (var report in Model.ReportList)
    {
        <div class="page-wrapper">
            @if (Model.Spec.ShowHeader)
            {
                <header>
                    <div>
                        @DateTime.Now.ToString("G",
                        CultureInfo.CreateSpecificCulture("en-us"))
                    </div>
                    <div>CO: @report.ComplianceOfficer.Name</div>
                    <div>
                        @if (!string.IsNullOrEmpty(@report.HsrpFacilityPropertyDetails.OrganizationalUnit?.Name))
                        {
                            <span>Add'l Org Unit: </span>
                            @report.HsrpFacilityPropertyDetails.OrganizationalUnit?.Name
                        }
                    </div>
                    <div>Unit: @report.OrganizationalUnit.Name</div>
                </header>
            }
            <div id="masthead">
                <div>GEORGIA ENVIRONMENTAL PROTECTION DIVISION<br/>HAZARDOUS SITE INVENTORY</div>
                <div>Site Number: @report.FacilityNumber</div>
            </div>
            <div id="siteinfo">
                <div id="infoblock" class="container">
                    <div id="sitename">
                        <div>
                            <strong>Site Name:</strong><br />
                            <strong>Location:</strong>
                        </div>
                        <div>
                            @report.Name <br/>
                            @report.Address <br/>
                            @report.City, @report.County.Name County, @report.State  @report.PostalCode
                            <div id="latlong">
                                <div>
                                    <strong>Latitude: </strong>@report.Latitude.ToString()
                                </div>
                                <div>
                                    <strong>Longitude: </strong>@report.Longitude.ToString()
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="parcels">
                        <div><strong>ACREAGE</strong></div>
                        <div><strong>PARCEL NUMBER</strong></div>
                        <div><strong>DATE LISTED</strong></div>
                    </div>
                    <div class="parcels">
                        @foreach (var parcel in report.Parcels)
                        {
                            <div>@Html.DisplayFor(Model => parcel.Acres, "DoubleOrNone")</div>
                            <div>@parcel.ParcelNumber</div>
                            <div>@Html.DisplayFor(Model => parcel.ListDate, "DateOrNone")</div>
                        }
                    </div>
                    <div>
                        <strong>LAST KNOWN PROPERTY OWNER(S):</strong><br />
                        @foreach (var contact in report.Contacts)
                        {
                            @if (contact.ContactType?.Name == "Property Owner")
                            {
                                @contact.GivenName @contact.FamilyName<br /> 
                                @contact.Address <br/>
                                @contact.City<span>,</span> @contact.State  @contact.PostalCode
                            }
                        }
                    </div>
                </div>
                <div>
                    <img src="@Model.GetGoogleMapsUrl(report)" alt="Site Map for @report.Name" height="250" width="250" style="border:thin" />
                </div>
            </div>
            <div id="status">
                  <strong>STATUS OF CLEANUP ACTIVITIES:</strong><br />
                  @Model.GetStatusLanguage(report)
            </div>
            <div class="classprop">
                <strong>CLEANUP PRIORITY: </strong>The Director has designated this site as a Class @report.LocationDetails.LocationClass.Name<br />
                <strong>GA EPD DIRECTOR'S DETERMINATION REGARDING CORRECTIVE ACTION:</strong><br />
                @report.LocationDetails.LocationClass.Description
            </div>
            <hr />
            <div id="score">
                <strong>REGULATED SUBSTANCES RELEASED, AND THREATS TO HUMAN HEALTH AND ENVIRONMENT POSED BY THE RELEASE:</strong><br />
                @Model.GetScoreLanguage(report)
            </div>
            <div id="substances">
                <strong>REGULATED SUBSTANCES:</strong><br />
                <div id="substancehead">
                    <div>Substance Name</div>
                    <div>GW</div>
                    <div>Soil</div>
                    <div>Substance Name</div>
                    <div>GW</div>
                    <div>Soil</div>
                </div>
                <div id="substancebox">
                    @foreach (var substance in report.Substances)
                    {
                        <div class="substance">
                            <div>@substance.Chemical.DisplayName</div>
                            <div class="my-check-box">@Html.DisplayFor(model => substance.Soil)</div>
                            <div class="my-check-box">@Html.DisplayFor(model => substance.Groundwater)</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}

