@page
@using FMS.Domain.Dto
@using FMS.Domain.Entities.Users
@using FMS.Platform.Extensions
@model FMS.Pages.Reporting.SiteSummary.ReportModel
@{
    Layout = "_ReportLayout";
}

@{
    ViewData["Title"] = $"Site Summary(s)";
}

@if (Model.ReportList.Count == 0)
{
    <p class="lead text-info">No matching results found.</p>
}
else
{
    @foreach (var report in Model.ReportList)
    {
        <div class="page-wrapper">
            <div class="mb-5">
                <h2>@report.Name (@report.FacilityNumber)</h2>
                <p><strong>Organizational Unit:</strong> @report.OrganizationalUnit.Name</p>
                <p><strong>Compliance Officer:</strong> @report.ComplianceOfficer.Name</p>
                <hr />
                <h3>Site Map:</h3>
                <img src="@Model.GetGoogleMapsUrl(report)" alt="Site Map for @report.Name"  height="250" width="250" />
                
                <hr />
                <h3>Address:</h3>
                <p><strong>Street:</strong> @report.Address</p>
                <p><strong>City:</strong> @report.City</p>
                <p><strong>County:</strong> @report.County.Name</p>
                <p><strong>State:</strong> @report.State</p>
                <p><strong>Zip Code:</strong> @report.PostalCode</p>
                <hr />
                <h3>Contact Information:</h3>
                @foreach (var contact in report.Contacts)
                {
                    @if (contact.ContactType.Name == "Property Owner")
                    {
                        <p><strong>Name:</strong> @contact.GivenName @contact.FamilyName</p>
                        <p><strong>Title:</strong> @contact.ContactTitle</p>
                        <p><strong>Type:</strong> @contact.ContactType.Name</p>
                        <p><strong>Address:</strong> @contact.Address</p>
                        <p><strong>City:</strong> @contact.City</p>
                        <p><strong>Zip Code:</strong> @contact.PostalCode</p>
                        <p><strong>State:</strong> @contact.State</p>
                        <p><strong>Email:</strong> @contact.Email</p>
                        <hr />
                    }
                }
                <h3>Parcels</h3>
                @foreach (var parcel in report.Parcels)
                {
                    <p><strong>Parcel Number:</strong> @parcel.ParcelNumber</p>
                    <p><strong>Sublist Parcel Name:</strong> @parcel.SubListParcelName</p>
                    <p><strong>Size (acres):</strong> @Html.DisplayFor(Model => parcel.Acres, "DoubleOrNone")</p>
                    <p><strong>Listed Date:</strong> @Html.DisplayFor(Model => parcel.ListDate, "DateOrNone")</p>
                    <hr />
                }
                <h3>Class</h3>
                <p><strong>Class:</strong> @report.LocationDetails.LocationClass.DisplayName</p>
                <hr />
                <h3>Score Details</h3>
                <p><strong>Score Comments:</strong> @Html.DisplayFor(Model => report.ScoreDetails.Comments, "StringOrNone")</p>
                <p><strong>Score Date:</strong> @Html.DisplayFor(Model => report.ScoreDetails.ScoredDate, "DateOrNone")</p>
                <h3>Onsite Score Details</h3>
                <p><strong>A:</strong> @report.OnsiteScoreDetails.A</p>
                <p><strong>B:</strong> @report.OnsiteScoreDetails.B</p>
                <p><strong>C:</strong> @report.OnsiteScoreDetails.C</p>
                <p><strong>CASNO:</strong> @Html.DisplayFor(Model => report.OnsiteScoreDetails.CASNO, "StringOrNone")</p>
                <p><strong>ChemName1D:</strong> @Html.DisplayFor(Model => report.OnsiteScoreDetails.ChemName1D, "StringOrNone")</p>
                <p><strong>Other1D:</strong> @Html.DisplayFor(Model => report.OnsiteScoreDetails.Other1D, "StringOrNone")</p>
                <p><strong>D2:</strong> @report.OnsiteScoreDetails.D2</p>
                <p><strong>D3:</strong> @report.OnsiteScoreDetails.D3</p>
                <p><strong>E1:</strong> @report.OnsiteScoreDetails.E1</p>
                <p><strong>E2:</strong> @report.OnsiteScoreDetails.E2</p>
                <p><strong>Description:</strong> @Html.DisplayFor(Model => report.OnsiteScoreDetails.Description, "StringOrNone")</p>
                <p><strong>Onsite Score:</strong> @Html.DisplayFor(Model => report.OnsiteScoreDetails.OnsiteScoreValue, "DecimalOrNone")</p>
                <h3>Groundwater Score Details</h3>
                <p><strong>A:</strong> @report.GroundwaterScoreDetails.A</p>
                <p><strong>B1:</strong> @report.GroundwaterScoreDetails.B1</p>
                <p><strong>B2:</strong> @report.GroundwaterScoreDetails.B2</p>
                <p><strong>C:</strong> @report.GroundwaterScoreDetails.C</p>
                <p><strong>CASNO:</strong> @Html.DisplayFor(Model => report.GroundwaterScoreDetails.CASNO, "StringOrNone")</p>
                <p><strong>ChemName:</strong> @Html.DisplayFor(Model => report.GroundwaterScoreDetails.ChemName, "StringOrNone")</p>
                <p><strong>Other:</strong> @Html.DisplayFor(Model => report.GroundwaterScoreDetails.Other, "StringOrNone")</p>
                <p><strong>D2:</strong> @report.GroundwaterScoreDetails.D2</p>
                <p><strong>D3:</strong> @report.GroundwaterScoreDetails.D3</p>
                <p><strong>E1:</strong> @report.GroundwaterScoreDetails.E1</p>
                <p><strong>E2:</strong> @report.GroundwaterScoreDetails.E2</p>
                <p><strong>Description:</strong> @Html.DisplayFor(Model => report.GroundwaterScoreDetails.Description, "StringOrNone")</p>
                <p><strong>Groundwater Score:</strong> @Html.DisplayFor(Model => report.GroundwaterScoreDetails.GWScore, "DecimalOrNone")</p>
                <hr />
                <h3>Status</h3>
                <p><strong>Overall Status:</strong> @Html.DisplayFor(Model => report.StatusDetails.OverallStatus.Name, "StringOrNone")</p>
                <p><strong>Status Comments:</strong> @Html.DisplayFor(Model => report.StatusDetails.Comments, "StringOrNone")</p>
                <p><strong>Onsite Status:</strong> @Html.DisplayFor(Model => report.StatusDetails.SoilStatus.Name, "StringOrNone")</p>
                <p><strong>Groundwater Status:</strong> @Html.DisplayFor(Model => report.StatusDetails.GroundwaterStatus.Name, "StringOrNone")</p>
                <p><strong>GAPS Score:</strong> @report.StatusDetails.GAPSScore</p>
                <p><strong>GAPS Score Date:</strong> @Html.DisplayFor(Model => report.StatusDetails.GAPSModelDate, "DateOrNone")</p>
                <p><strong>GAPS Assessment:</strong> @Html.DisplayFor(Model => report.StatusDetails.GAPSAssessment.Name, "StringOrNone")</p>
                <hr />
                <h3>Substances</h3>
                @foreach (var substance in report.Substances)
                {
                    <p><strong>Name:</strong> @substance.Chemical.DisplayName</p>
                    <p><strong>Soil:</strong> @Html.DisplayFor(model => substance.Soil, "BoolYesNo")</p>
                    <p><strong>GW:</strong> @Html.DisplayFor(model => substance.Groundwater, "BoolYesNo")</p>
                    <p><strong>Use for Soil Scoring:</strong> @Html.DisplayFor(model => substance.UseForSoilScoring, "BoolYesNo")</p>
                    <p><strong>Use for GW Scoring:</strong> @Html.DisplayFor(model => substance.UseForGroundwaterScoring, "BoolYesNo")</p>
                    <hr />
                }
            </div>
        </div>
    }
}

