@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.SourceStatus.AddModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Add {MaintenanceOptions.SourceStatus}";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light-subtle py-3 rounded-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="SourceStatus.Name">@MaintenanceOptions.SourceStatus Name <span class="text-danger">*</span></label>
                <input asp-for="SourceStatus.Name" class="form-control" />
                <span asp-validation-for="SourceStatus.Name" class="text-danger"></span>
            </div>
            <div class="col-md">
                <label asp-for="SourceStatus.Description">@MaintenanceOptions.SoilStatus Description <span class="text-danger">*</span></label>
                <input asp-for="SourceStatus.Description" class="form-control" />
                <span asp-validation-for="SourceStatus.Description" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <button id="SubmitButton" type="submit" class="btn btn-primary col-md-5 mb-3 mb-md-0">Add New @MaintenanceOptions.SourceStatus</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2"
           asp-route-MaintenanceSelection="@MaintenanceOptions.SourceStatus">
            Cancel
        </a>
    </form>
</div>