@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.EventContractor.AddModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = $"Add {MaintenanceOptions.EventContractor}";
}
<h1>@ViewData["Title"]</h1>
<div class="container bg-light-subtle py-3 rounded-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label asp-for="EventContractor.Name">@MaintenanceOptions.EventContractor Name <span class="text-danger">*</span></label>
                <input asp-for="EventContractor.Name" class="form-control" />
                <span asp-validation-for="EventContractor.Name" class="text-danger"></span>
            </div>
            <div class="col-md">
                <label asp-for="EventContractor.Description">@MaintenanceOptions.EventContractor Description <span class="text-danger">*</span></label>
                <input asp-for="EventContractor.Description" class="form-control" />
                <span asp-validation-for="EventContractor.Description" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <p class="text-danger">* denotes a required field</p>
        <button id="SubmitButton" type="submit" class="btn btn-primary col-md-5 mb-3 mb-md-0">Add New @MaintenanceOptions.EventContractor</button>
        <a asp-page="Index" class="btn btn-outline-secondary col-md-2" asp-route-handler="select"
           asp-route-MaintenanceSelection="@MaintenanceOptions.EventContractor">
            Cancel
        </a>
    </form>
</div>