@page "{id}"
@using FMS.Platform.Extensions
@model FMS.Pages.Files.DetailsModel
@{
    ViewData["Title"] = $"File {Model.FileDetail.FileLabel}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.FileDetail.Active)
    {
        <span class="text-muted">(Deleted)</span>
    }
</h1>
<hr />
<partial name="_AlertPartial" for="Message" />

<div class="my-3">
    <dl class="row">
        <dt class="col-sm-2">Cabinets</dt>
        @if (Model.FileDetail.Cabinets != null && Model.FileDetail.Cabinets.Count > 0)
        {
            <dd class="col-sm-10">
                @Model.FileDetail.Cabinets.ConcatNonEmpty(", ")
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                No cabinets found for this File.
            </dd>
        }
    </dl>
</div>

<div class="my-3">
    <h2>Facilities</h2>

    @if (Model.FileDetail.Facilities != null && Model.FileDetail.Facilities.Count > 0)
    {
        <table class="table table-borderless" aria-label="List of facilities in this file">
            <thead class="thead-light">
            <tr>
                <th scope="col">Facility</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.FileDetail.Facilities)
            {
                <tr>
                    <td>
                        <a asp-page="/Facilities/Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">
                            @Html.DisplayFor(m => item.FacilityNumber)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Address)<br />
                        @Html.DisplayFor(m => item.City), @Html.DisplayFor(m => item.State) @Html.DisplayFor(m => item.PostalCode)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="lead text-info">No facilities found for this File.</p>
    }
</div>