@page "{id}"
@using FMS.Domain.Entities.Users
@model FMS.Pages.Files.DetailsModel
@{
    ViewData["Title"] = $"File {Model.FileDetail.FileLabel}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.FileDetail.Active)
    {
        <span class="text-muted">(Deleted)</span>
    }
    @if (User.IsInRole(UserRoles.UserAdmin))
    {
        <a asp-page="Edit" asp-route-id="@Model.FileDetail.Id" class="btn btn-sm btn-outline-primary">Delete File</a>
    }
</h1>
<hr />
<partial name="_AlertPartial" for="Message" />

<div class="my-3">
    <h2>
        Cabinets
        @if (User.IsInRole(UserRoles.UserAdmin))
        {
            <a asp-page="EditCabinets" asp-route-id="@Model.FileDetail.Id" class="btn btn-sm btn-outline-primary">Edit Cabinets</a>
        }
    </h2>
    @if (Model.FileDetail.Cabinets != null && Model.FileDetail.Cabinets.Count > 0)
    {
        @foreach (var c in Model.FileDetail.Cabinets)
        {
            <a asp-page="/Cabinets/Details" asp-route-id="@c.Name" class="btn @(c.Active ? "btn-outline-info" : "btn-outline-secondary") btn-sm m-1">
                @c.Name @(c.Active ? "" : "(Deleted)")
            </a>
        }
    }
    else
    {
        <p class="lead text-info">No cabinets found for this File.</p>
    }
</div>

<div class="my-3">
    <h2>Facilities</h2>

    @if (Model.FileDetail.Facilities != null && Model.FileDetail.Facilities.Count > 0)
    {
        <table class="table table-borderless">
            <thead class="thead-light">
            <tr>
                <th scope="col">Facility</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.FileDetail.Facilities)
            {
                <tr>
                    <td>
                        <a asp-page="/Facilities/Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">
                            @Html.DisplayFor(m => item.FacilityNumber)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Address)<br />
                        @Html.DisplayFor(m => item.City), @Html.DisplayFor(m => item.State) @Html.DisplayFor(m => item.PostalCode)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="lead text-info">No facilities found for this File.</p>
    }
</div>