@page
@model Pages.Files.IndexModel
@{
    ViewData["Title"] = "File Search";
}
@section Scripts {
    <partial name="_SearchFormScriptsPartial" />
}

<h1>@ViewData["Title"]</h1>

<div class="container bg-light py-3">
    <form method="get" asp-fragment="SearchResults">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Spec.CountyId"></label>
                <select asp-for="Spec.CountyId" asp-items="Model.Counties" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.FileLabel"></label>
                <input asp-for="Spec.FileLabel" class="form-control" />
            </div>
        </div>
        <div class="form-group form-check">
            <input asp-for="Spec.ShowInactive" class="form-check-input" />
            <label asp-for="Spec.ShowInactive" class="form-check-label"></label>
        </div>
        <input type="hidden" name="handler" value="search" />
        <button id="SearchButton" type="submit" class="btn btn-primary col-sm-3 col-md-2">Search</button>
        <a asp-page="./Index" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear form</a>
    </form>
</div>

@if (Model.ShowResults)
{
    <a name="SearchResults"></a>

    @if (Model.Files != null && Model.Files.Count > 0)
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">File Label</th>
                    <th scope="col">Cabinets</th>
                    <th scope="col">Facilities</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Files)
                {
                    <tr>
                        <td>
                            <a asp-page="Details" asp-route-id="@item.FileLabel" class="btn @(item.Active ? "btn-outline-info" : "btn-outline-secondary") btn-sm">
                                @item.FileLabel @(item.Active ? "" : "(Inactive)")
                            </a>
                        </td>
                        <td>@item.Cabinets.Select(e => e.Name).ConcatNonEmpty(", ")</td>
                        <td>
                            @item.Facilities.Select(e => e.FacilityNumber).ConcatNonEmpty(", ")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="container mt-2">
            <p class="lead text-info">No search results found.</p>
        </div>
    }
}