@page
@model Pages.Cabinets.IndexModel
@{
    ViewData["Title"] = "Cabinets";
}

<h1>
    @ViewData["Title"]
    @if (Model.ShowInactive)
    {
        <a asp-page="Index" class="btn btn-sm btn-outline-secondary">Hide inactive</a>
    }
    else
    {
        <a asp-page="Index" asp-route-showInactive="true" class="btn btn-sm btn-outline-secondary">Show inactive</a>
    }
</h1>
<hr />
<partial name="_AlertPartial" for="Message" />

<div class="container mt-2">
    @if (Model.Cabinets != null && Model.Cabinets.Count > 0)
    {
        @foreach (var c in Model.Cabinets)
        {
            <a asp-page="Details" asp-route-id="@c.Name" class="btn @(c.Active ? "btn-outline-info" : "btn-outline-secondary") btn-sm m-1">
                @c.Name @(c.Active ? "" : "(Inactive)") @(c.Id==Model.NewCabinetId ? "(New)" : "")
            </a>
        }
    }
    else
    {
        <p class="lead text-info">No cabinets found.</p>
    }
</div>

<div class="container-fluid bg-light pt-3 mt-5">
    <form method="post" class="form-inline">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <label asp-for="CabinetCreate.Name" class="sr-only"></label>
        <input asp-for="CabinetCreate.Name" class="form-control mb-2 mr-sm-2" />
        <div class="form-check mb-2 mr-sm-2">
            <span asp-validation-for="CabinetCreate.Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Create New Cabinet</button>
    </form>
</div>
