@page
@using FMS.Pages.Reporting
@model FMS.Pages.Reporting.IndexModel
@{
    ViewData["Title"] = $"Reports";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">Select a Report from the list</p>

<ul>
    <li>
        <a class="nav-link" asp-page="AssignmentList/Index">@ReportingOptions.AssignmentList</a>
    </li>
    <li>
        <a class="nav-link" asp-page="Delisted/Index">@ReportingOptions.Delisted</a>
    </li>
    @* <li>
        <a class="nav-link" asp-page="Events/Index">@ReportingOptions.Events</a>
    </li>
    <li>
        <a class="nav-link" asp-page="SiteSummary/Index">@ReportingOptions.SiteSummary</a>
    </li>
    <li>
        <a class="nav-link" asp-page="PAF/Index">@ReportingOptions.PAF</a>
    </li> *@
</ul>