@page
@model FMS.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Site Maintenance";
}
<h1>@ViewData["Title"]</h1>
<hr />
<partial name="_AlertPartial" for="DisplayMessage" />

<div class="container-fluid">
    <form method="get" asp-fragment="SearchResults">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="DropDownSelection"></label>
                <select asp-for="DropDownSelection" class="custom-select">
                    <option value=0></option>
                    <option value=1>Budget Code</option>
                    <option value=2>Compliance Officer</option>
                    <option value=4>Facility Status</option>
                    <option value=5>Facility Type</option>
                    <option value=6>Organizational Unit</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <input type="hidden" name="handler" value="search" />
                <button id="SearchButton" type="submit" class="btn btn-primary col-md-2">Select</button>
            </div>
        </div>
    </form>
</div>
<a name="SearchResults"></a>
@if (Model.DropDownSelection == 0)
{
    <div class="container-fluid">
        @Model.Message
    </div>
}
@if (Model.DropDownSelection == 1)
{
    <div class="container-fluid">
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddBudgetCode" asp-route-id="" class="btn btn-outline-info btn-sm">Add New Budget Code</a>
            </caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Organization Number</th>
                    <th scope="col">Project Number</th>
                    <th scope="col">Edit | Restore/Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FMS.Domain.Dto.BudgetCodeSummaryDto item in Model.BudgetCodes)
                {
                    <tr>
                        <td class="text-nowrap">
                            @Html.DisplayFor(m => item.Code, "StringOrNone")
                            @if (!item.Active)
                            {
                                <span class="text-muted">(Removed)</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name, "StringOrNone")
                        </td>
                        <td>@Html.DisplayFor(m => item.OrganizationNumber, "StringOrNone")</td>
                        <td>
                            @Html.DisplayFor(m => item.ProjectNumber, "StringOrNone")<br />
                        </td>
                        <td class="text-nowrap">
                            <a asp-page="EditBudgetCode" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a>
                            <a asp-page="DeleteBudgetCode" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Restore/Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.DropDownSelection == 2)
{
<div class="container-fluid">
    <table class="table">
        <caption class="container border-top">
            <a asp-page="AddComplianceOfficer" asp-route-id="" class="btn btn-outline-info btn-sm">Add New Compliance Officer</a>
        </caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Restore/Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FMS.Domain.Dto.ComplianceOfficerSummaryDto item in Model.ComplianceOfficers)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }
                    </td>
                    <td>
                        <a asp-page="DetailsComplianceOfficer" asp-route-id="@item.Name" class="btn btn-outline-info btn-sm">Add/Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
@if (Model.DropDownSelection == 4)
{
    <div class="container-fluid">
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddFacilityStatus" asp-route-id="" class="btn btn-outline-info btn-sm">Add New Facility Status</a>
            </caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Status Name</th>
                    <th scope="col">Edit | Restore/Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FMS.Domain.Dto.FacilityStatusSummaryDto item in Model.FacilityStatuses)
                {
                    <tr>
                        <td class="text-nowrap">
                            @Html.DisplayFor(m => item.Status, "StringOrNone")
                            @if (!item.Active)
                            {
                                <span class="text-muted">(Removed)</span>
                            }
                        </td>
                        <td>
                            <a asp-page="EditFacilityStatus" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a>
                            <a asp-page="DeleteFacilityStatus" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Restore/Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.DropDownSelection == 5)
{
    <div class="container-fluid">
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddFacilityType" asp-route-id="" class="btn btn-outline-info btn-sm">Add New Facility Type</a>
            </caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Edit | Restore/Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FMS.Domain.Dto.FacilityTypeSummaryDto item in Model.FacilityTypes)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Code)
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }

                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                    </td>
                    <td>
                        <a asp-page="EditFacilityType" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a>
                        <a asp-page="DeleteFacilityType" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Restore/Remove</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
@if (Model.DropDownSelection == 6)
{
    <div class="container-fluid">
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddOrganizationalUnit" asp-route-id="" class="btn btn-outline-info btn-sm">Add New Organizational Unit</a>
            </caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Edit | Restore/Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FMS.Domain.Dto.OrganizationalUnitSummaryDto item in Model.OrganizationalUnits)
                {
                    <tr>
                        <td class="text-nowrap">
                            @Html.DisplayFor(m => item.Name, "StringOrNone")
                            @if (!item.Active)
                            {
                                <span class="text-muted">(Removed)</span>
                            }
                        </td>
                        <td>
                            <a asp-page="EditOrganizationalUnit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a>
                            <a asp-page="DeleteOrganizationalUnit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Restore/Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

