@page
@using FMS.Pages.Admin
@model FMS.Pages.Admin.IndexModel
@{
    if (string.IsNullOrEmpty(Model.MaintenanceSelection))
    {
        ViewData["Title"] = $"Site Maintenance";
    }
    else
    {
        ViewData["Title"] = $"Site Maintenance: {Model.MaintenanceSelection}";
    }
}
<h1>@ViewData["Title"]</h1>
<partial name="_AlertPartial" for="DisplayMessage" />

<form method="get" class="container bg-light py-3">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="MaintenanceSelection"></label>
            <select asp-for="MaintenanceSelection" class="custom-select">
                <option>@MaintenanceOptions.BudgetCode</option>
                @* <option>@MaintenanceOptions.ComplianceOfficer</option> *@
                <option>@MaintenanceOptions.FacilityStatus</option>
                <option>@MaintenanceOptions.FacilityType</option>
                <option>@MaintenanceOptions.OrganizationalUnit</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary col">Select</button>
        </div>
    </div>
    <input type="hidden" name="handler" value="select" />
</form>

@switch (Model.MaintenanceSelection)
{
    case MaintenanceOptions.BudgetCode:
    {
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddBudgetCode" asp-route-id="" class="btn btn-outline-primary btn-sm">Add New Budget Code</a>
            </caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Organization Number</th>
                <th scope="col">Project Number</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.BudgetCodes)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Code, "StringOrNone")
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                    </td>
                    <td>@Html.DisplayFor(m => item.OrganizationNumber, "StringOrNone")</td>
                    <td>
                        @Html.DisplayFor(m => item.ProjectNumber, "StringOrNone")<br />
                    </td>
                    <td class="text-nowrap">
                        <a asp-page="EditBudgetCode" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a asp-page="DeleteBudgetCode" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Restore/Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        break;
    }
    case MaintenanceOptions.ComplianceOfficer:
    {
        <table class="table">
            <caption class="container border-top">
                <a asp-page="./AddComplianceOfficer" asp-route-id="" class="btn btn-outline-primary btn-sm">Add New Compliance Officer</a>
            </caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ComplianceOfficers)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>
                        <a asp-page="./DetailsComplianceOfficer" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Add/Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        break;
    }
    case MaintenanceOptions.FacilityStatus:
    {
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddFacilityStatus" asp-route-id="" class="btn btn-outline-primary btn-sm">Add New Facility Status</a>
            </caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">Status Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.FacilityStatuses)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Status, "StringOrNone")
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }
                    </td>
                    <td>
                        <a asp-page="EditFacilityStatus" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a asp-page="DeleteFacilityStatus" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Restore/Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        break;
    }
    case MaintenanceOptions.FacilityType:
    {
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddFacilityType" asp-route-id="" class="btn btn-outline-primary btn-sm">Add New @MaintenanceOptions.FacilityType</a>
            </caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.FacilityTypes)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(m => item.Description, "StringOrNone")</td>
                    <td>
                        <a asp-page="EditFacilityType" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a asp-page="DeleteFacilityType" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Restore/Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        break;
    }
    case MaintenanceOptions.OrganizationalUnit:
    {
        <table class="table">
            <caption class="container border-top">
                <a asp-page="AddOrganizationalUnit" asp-route-id="" class="btn btn-outline-primary btn-sm">Add New Organizational Unit</a>
            </caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.OrganizationalUnits)
            {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                        @if (!item.Active)
                        {
                            <span class="text-muted">(Removed)</span>
                        }
                    </td>
                    <td>
                        <a asp-page="EditOrganizationalUnit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a asp-page="DeleteOrganizationalUnit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Restore/Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        break;
    }
}