@page "{id:Guid?}"
@using FMS.Pages.Substance
@using FMS.Domain.Entities.Users
@model FMS.Pages.Substance.AddModel

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="https://jqueryui.com/resources/demos/style.css" rel="stylesheet" />
    <script src="~/js/addSubstance.js"></script>
}

@{
    ViewData["Title"] = "Add Substance";
}
<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
<form method="get" asp-fragment="SearchResults" runat="server">
    <div id="Chemical" class="@(!Model.ResultsActive ? "container bg-light-subtle py-3 rounded-3" : "d-none")">
        <input type="hidden" asp-for="NewSubstance.FacilityId" />
        <input type="hidden" asp-for="NewSubstance.Active" />
        <div class="row">
            <div class="col">
                <label asp-for="NewSubstance.Chemical.Id">Start typing CASNO or Chemical Name</label>
                <select id="combobox" asp-for="NewSubstance.Chemical.Id" asp-items="Model.Chemicals" class="form-control ui-widget-content">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div id="ChemicaLButtons" class="@(!Model.ResultsActive ? "container bg-light-subtle py-3 rounded-3" : "d-none")">
        <input type="hidden" name="handler" value="search" />
        <button id="SearchButton" type="submit" class="btn btn-primary col-sm-4 col-md-3 mb-3 mb-sm-0">Choose Chemical</button>
        <a asp-page="../Facilities/Details" asp-route-Id="@Model.NewSubstance.FacilityId" class="btn btn-outline-secondary col-md-2">Cancel</a>
    </div>
</form>

@if (Model.ResultsActive)
{
    <div id="SearchResults" class="container bg-light-subtle py-3 rounded-3">
        <form method="post">
            <input type="hidden" asp-for="NewSubstance.Id" />
            <input type="hidden" asp-for="NewSubstance.FacilityId" />
            <input type="hidden" asp-for="NewSubstance.ChemicalId" />
            <input type="hidden" asp-for="NewSubstance.Active" />
            <div class="row">
                <div class="col">
                    <label asp-for="NewSubstance.Chemical.CasNo"></label>
                    <input asp-for="NewSubstance.Chemical.CasNo" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.CasNo" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="NewSubstance.Chemical.ChemicalName"></label>
                    <input asp-for="NewSubstance.Chemical.ChemicalName" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.ChemicalName" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="NewSubstance.Chemical.CommonName"></label>
                    <input asp-for="NewSubstance.Chemical.CommonName" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.CommonName" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <label asp-for="NewSubstance.Chemical.ToxValue">Tox Value</label>
                    <input asp-for="NewSubstance.Chemical.ToxValue" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.ToxValue" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="NewSubstance.Chemical.MCLs">MCLs</label>
                    <input asp-for="NewSubstance.Chemical.MCLs" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.MCLs" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="NewSubstance.Chemical.FinalRc">Final RC</label>
                    <input asp-for="NewSubstance.Chemical.FinalRc" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.FinalRc" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="NewSubstance.Chemical.RQ">RQ</label>
                    <input asp-for="NewSubstance.Chemical.RQ" class="form-control" readonly="true" />
                    <span asp-validation-for="NewSubstance.Chemical.RQ" class="text-danger"></span>
                </div>
            </div>
            <p class="text-danger"><small>Edit these values in Chemical List Only</small></p>
            <hr/>
            <div class="row mt-3">
                <div class="col">
                    <input asp-for="NewSubstance.Groundwater" class="form-check-input" type="checkbox" />
                    <label asp-for="NewSubstance.Groundwater" class="form-check-label"></label>
                </div>
                <div class="col">
                    <input asp-for="NewSubstance.Soil" class="form-check-input" type="checkbox" />
                    <label asp-for="NewSubstance.Soil" class="form-check-label"></label>
                </div>
                <div class="col">
                    <input asp-for="NewSubstance.UseForGroundwaterScoring" class="form-check-input" type="checkbox" />
                    <label asp-for="NewSubstance.UseForGroundwaterScoring" class="form-check-label"></label>
                </div>
                <div class="col">
                    <input asp-for="NewSubstance.UseForSoilScoring" class="form-check-input" type="checkbox" />
                    <label asp-for="NewSubstance.UseForSoilScoring" class="form-check-label"></label>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary col-sm-4 col-md-3 mb-3 mb-sm-0">
                Add Substance
            </button>
            <a asp-page="../Facilities/Details" 
                asp-route-Id="@Model.NewSubstance.FacilityId"
                asp-route-tab="Substances"
                asp-fragment="TabPages"
                class="btn btn-outline-secondary col-md-2">
                Cancel
            </a>
        </form>
    </div>
}
<div id="Substances" class="container bg-light-subtle py-3 rounded-3">
    <h5>Existing Substances</h5>
    <div class="row justify-content-evenly">
        <table class="table table-sm" aria-label="Parcels">
            <thead class="thead-light">
                <tr>
                    <th scope="col">CAS Number</th>
                    <th scope="col">Substance Name</th>
                    <th scope="col">Common Name</th>
                    <th scope="col" class="text-center">Groundwater</th>
                    <th scope="col" class="text-center">Soil</th>
                    <th scope="col" class="text-center">Use for GW Scoring</th>
                    <th scope="col" class="text-center">Use for Soil Scoring</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model.Substances)
                {
                    <tr>
                        <td>@s.Chemical.CasNo</td>
                        <td>@s.Chemical.ChemicalName</td>
                        <td>@s.Chemical.CommonName</td>
                        <td class="text-center">@Html.DisplayFor(m => s.Groundwater)</td>
                        <td class="text-center">@Html.DisplayFor(m => s.Soil)</td>
                        <td class="text-center">@Html.DisplayFor(m => s.UseForGroundwaterScoring)</td>
                        <td class="text-center">@Html.DisplayFor(m => s.UseForSoilScoring)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>