@page
@using FMS.Pages.Reporting.PAF
@model FMS.Pages.Reporting.PAF.IndexModel


@{
    ViewData["Title"] = $"PAF Report";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<partial name="_AlertPartial" for="DisplayMessage" id="alert" />
<div class="p-3 rounded-3 bg-light-subtle">
    <form method="get" class="row g-3 mb-4">
        <div class="col-md-2">
            <label asp-for="SiteName">Site Name</label>
            <select asp-for="SiteName" class="form-control">
                <option value="">-- Select Site Name --</option>
                @foreach (var site in Model.SiteNameList)
                {
                    <option value="@site">@site</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="ProjectOfficer">Project Officer</label>
            <select asp-for="ProjectOfficer" class="form-control">
                <option value="">-- Select Project Officer --</option>
                @foreach (var officer in Model.ProjectOfficerList)
                {
                    <option value="@officer">@officer</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="Contractor">Contractor</label>
            <select asp-for="Contractor" class="form-control" multiple="multiple">
                @foreach (var contractor in Model.ContractorList)
                {
                    <option value="@contractor">@contractor</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="PAFIssueYear" class="form-label">PAF Issue Year</label>
            <select asp-for="PAFIssueYear" class="form-control">
                <option value="">-- Select Year --</option>
                @foreach (var year in Model.PAFIssueYearList)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="PAFIssueDateFrom" class="form-label">PAF Issue Date From</label>
            <input asp-for="PAFIssueDateFrom" type="date" class="form-control" />
        </div>
        <div class="col-md-2">
            <label asp-for="PAFIssueDateTo" class="form-label">PAF Issue Date To</label>
            <input asp-for="PAFIssueDateTo" type="date" class="form-control" />
        </div>
        <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary me-2">Search</button>
            <a asp-page="./Index" class="btn btn-secondary">Reset</a>
        </div>
    </form>
    <form method="post">
        <input type="hidden" asp-for="ProjectOfficer" />
        <input type="hidden" asp-for="SiteName" />
        @* <input type="hidden" asp-for="Contractor" /> *@
        @foreach (var contractor in Model.Contractor ?? new List<string>())
        {
            <input type="hidden" name="Contractor" value="@contractor" />
        }
        <input type="hidden" asp-for="PAFIssueYear" />
        <input type="hidden" asp-for="PAFIssueDateFrom" />
        <input type="hidden" asp-for="PAFIssueDateTo" />
        <div class="form-group row">
            <div class="col-md-2">
                <button id="ExportButton"
                        asp-page-handler="ExportButton"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Export to Excel
                </button>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <table class="table" aria-label="PAF Report">
                <thead class="thead-light">
                    <tr>
                        <th>HSI ID</th>
                        <th>Site Name</th>
                        <th>PAF Issue Date</th>
                        <th>PAF Amount</th>
                        <th>Project Officer</th>
                        <th>Contractor</th>
                        <th>RAW Received</th>
                        <th>RAW Due</th>
                        <th>RAW Approved</th>
                        <th>RAR Received</th>
                        <th>RAR Due</th>
                        <th>RAR Approved</th>
                        <th>Project Complete Due</th>
                        <th>Project Complete Actual</th>
                        <th>Project Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PAFReport?.Any() == true)
                    {
                        @foreach (var p in Model.PAFReport)
                        {
                            <tr>
                                <td>@p.HSIId</td>
                                <td>@p.SiteName</td>
                                <td>
                                    @(p.PAFIssueDate.HasValue? p.PAFIssueDate.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>@p.PAFAmount</td>
                                <td>@p.ProjectOfficer</td>
                                <td>@p.Contractor</td>
                                <td>
                                    @(p.RAWReceived.HasValue? p.RAWReceived.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RAWDue.HasValue? p.RAWDue.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RAWApproved.HasValue? p.RAWApproved.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RARReceived.HasValue? p.RARReceived.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RARDue.HasValue? p.RARDue.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RARApproved.HasValue? p.RARApproved.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.ProjectCompleteDue.HasValue? p.ProjectCompleteDue.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.ProjectCompleteActual.HasValue? p.ProjectCompleteActual.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>@p.ProjectComments</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="15" class="text-center">No records found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/lib/select2/js/select2.min.js"></script>

    <script>
        $(function () {
            $('#Contractor').select2({
                placeholder: "-- Select Contractor --",
                closeOnSelect: false,
                width: '100%',
                    templateResult: function(state) {
                if (!state.id) return state.text;
                     return $('<span style="display:flex; align-items:center;"><input type="checkbox" class="me-2"/> ' + state.text + '</span>');
                    },
                templateSelection: function (state) {
                    return state.text;
                },
                escapeMarkup: function (markup) { return markup; }
            });

            $('#Contractor').on('select2:select select2:unselect', function () {
                var selected = $(this).val() || [];
                $('#Contractor option').each(function () {
                    $(this).prop('selected', selected.includes($(this).val()));
                });
            });
        });
    </script>
}
@section Styles {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

    <style>
        /* Dropdown container height & background */
        .select2-container--default .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            min-height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            line-height: 1.5;
            font-size: 1rem;
            font-weight: 400;
            background-color: var(--bs-body-bg);
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
        }

            /* Single select placeholder */
            .select2-container--default .select2-selection--single .select2-selection__placeholder {
                color: var(--bs-body-color) !important; /* black like other fields */
                opacity: 1 !important;
            }

            /* Multi-select placeholder */
            .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
                color: var(--bs-body-color) !important;
                opacity: 1 !important;
            }

        /* Ensure text after selection is black too */
        .select2-container--default .select2-selection__rendered {
            color: var(--bs-body-color) !important;
            opacity: 1 !important;
        }

        /* Dropdown options */
        .select2-container--default .select2-results__option {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);
        }

        .select2-container--default .select2-results__option--highlighted {
            background-color: #e9ecef;
            color: var(--bs-body-color);
        }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #0d6efd;
            color: #fff;
        }

        .select2-container--default.select2-container--focus .select2-selection--single,
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #86b7fe; /* same as .form-control:focus border */
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Bootstrap focus glow */
        }
    </style>
}