@page
@using FMS.Pages.Reporting.PAF
@model FMS.Pages.Reporting.PAF.IndexModel

@section Scripts {
    <script src="~/js/formIndex.js"></script>
}

@{
    ViewData["Title"] = $"PAF Report";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<partial name="_AlertPartial" for="DisplayMessage" id="alert" />
<div class="p-3 rounded-3 bg-light-subtle">
    <form method="get" class="row g-3 mb-4">
        <div class="col-md-2">
            <label asp-for="SiteName">Site Name</label>
            <select asp-for="SiteName" class="form-control">
                <option value="">-- Select Site Name --</option>
                @foreach (var site in Model.SiteNameList)
                {
                    <option value="@site">@site</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="ProjectOfficer">Project Officer</label>
            <select asp-for="ProjectOfficer" class="form-control">
                <option value="">-- Select Project Officer --</option>
                @foreach (var officer in Model.ProjectOfficerList)
                {
                    <option value="@officer">@officer</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="Contractor">Contractor</label>
            <select asp-for="Contractor" class="form-control">
                <option value="">-- Select Contractor --</option>
                @foreach (var officer in Model.ContractorList)
                {
                    <option value="@officer">@officer</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="PAFIssueYear" class="form-label">PAF Issue Year</label>
            <select asp-for="PAFIssueYear" class="form-control">
                <option value="">-- Select Year --</option>
                @foreach (var year in Model.PAFIssueYearList)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="PAFIssueDateFrom" class="form-label">PAF Issue Date From</label>
            <input asp-for="PAFIssueDateFrom" type="date" class="form-control" placeholder="PAF Issue Date From" />
        </div>
        <div class="col-md-2">
            <label asp-for="PAFIssueDateTo" class="form-label">PAF Issue Date To</label>
            <input asp-for="PAFIssueDateTo" type="date" class="form-control" placeholder="PAF Issue Date To" />
        </div>
        <div class="col-12 mt-2">
            <button type="submit" class="btn btn-primary me-2">Search</button>
            <a asp-page="./Index" class="btn btn-secondary">Reset</a>
        </div>
    </form>
    <form method="post">
        <input type="hidden" asp-for="ProjectOfficer" />
        <input type="hidden" asp-for="SiteName" />
        <input type="hidden" asp-for="Contractor" />
        <input type="hidden" asp-for="PAFIssueYear" />
        <input type="hidden" asp-for="PAFIssueDateFrom" />
        <input type="hidden" asp-for="PAFIssueDateTo" />
        <div class="form-group row">
            <div class="col-md-2">
                <button id="ExportButton"
                        asp-page-handler="ExportButton"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Export to Excel
                </button>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <table class="thick-grid" aria-label="PAF Report">
                <thead class="thead-light">
                    <tr>
                        <th>HSI ID</th>
                        <th>Site Name</th>
                        <th>PAF Issue Date</th>
                        <th>PAF Amount</th>
                        <th>Project Officer</th>
                        <th>Contractor</th>
                        <th>RAW Received</th>
                        <th>RAW Due</th>
                        <th>RAW Approved</th>
                        <th>RAR Received</th>
                        <th>RAR Due</th>
                        <th>RAR Approved</th>
                        <th>Project Complete Due</th>
                        <th>Project Complete Actual</th>
                        <th>Project Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.PAFReport?.Any() == true)
                    {
                        @foreach (var p in Model.PAFReport)
                        {
                            <tr>
                                <td>@p.HSIId</td>
                                <td>@p.SiteName</td>
                                <td>
                                    @(p.PAFIssueDate.HasValue? p.PAFIssueDate.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>@p.PAFAmount</td>
                                <td>@p.ProjectOfficer</td>
                                <td>@p.Contractor</td>
                                <td>
                                    @(p.RAWReceived.HasValue? p.RAWReceived.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RAWDue.HasValue? p.RAWDue.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RAWApproved.HasValue? p.RAWApproved.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RARReceived.HasValue? p.RARReceived.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RARDue.HasValue? p.RARDue.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.RARApproved.HasValue? p.RARApproved.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.ProjectCompleteDue.HasValue? p.ProjectCompleteDue.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>
                                    @(p.ProjectCompleteActual.HasValue? p.ProjectCompleteActual.Value.ToString("yyyy-MM-dd") : string.Empty)
                                </td>
                                <td>@p.ProjectComments</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="15" class="text-center">No records found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
<style>
    table.thick-grid {
        border-collapse: collapse !important;
        width: 100%;
        border: 3px solid black !important; /* outer border */
    }

        table.thick-grid th,
        table.thick-grid td {
            border: 3px solid black !important; /* thick vertical + horizontal */
            padding: 6px;
        }

        table.thick-grid thead th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
</style>