@page
@using FMS.Pages.Reporting.PAF
@model FMS.Pages.Reporting.PAF.IndexModel

@section Scripts {
    <script src="~/js/formIndex.js"></script>
}

@{
    ViewData["Title"] = $"PAF Report";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="../Index">← Back to Reports</a>
<partial name="_AlertPartial" for="DisplayMessage" id="alert" />
<div class="p-3 rounded-3 bg-light-subtle">
    <form method="post">
        <div class="form-group row">
            <div class="col-md-2">
                <button id="ExportButton"
                        asp-page-handler="ExportButton"
                        class="btn btn-sm btn-outline-primary mb-1">
                    Export to Excel
                </button>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <table class="table" aria-label="PAF Report">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="col">HSI ID</th>
                        <th scope="col" class="col">Site Name</th>
                        <th scope="col" class="col">PAF Issue Date</th>
                        <th scope="col" class="col">PAF Amount</th>
                        <th scope="col" class="col">Project Officer</th>
                        <th scope="col" class="col">Contractor</th>
                        <th scope="col" class="col">RAW Received</th>
                        <th scope="col" class="col">RAW Due</th>
                        <th scope="col" class="col">RAW Approved</th>
                        <th scope="col" class="col">RAR Received</th>
                        <th scope="col" class="col">RAR Due</th>
                        <th scope="col" class="col">RAR Approved</th>
                        <th scope="col" class="col">Project Complete Due</th>
                        <th scope="col" class="col">Project Complete Actual</th>
                        <th scope="col" class="col">Project Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.PAFReport)
                    {
                        <tr>
                            <td>@p.HSIId</td>
                            <td>@p.SiteName</td>
                            <td>@p.PAFIssueDate</td>
                            <td>@p.PAFAmount</td>
                            <td>@p.ProjectOfficer</td>
                            <td>@p.Contractor</td>
                            <td>@p.RAWReceived</td>
                            <td>@p.RAWDue</td>
                            <td>@p.RAWApproved</td>
                            <td>@p.RARReceived</td>
                            <td>@p.RARDue</td>
                            <td>@p.RARApproved</td>
                            <td>@p.ProjectCompleteDue</td>
                            <td>@p.ProjectCompleteActual</td>
                            <td>@p.ProjectComments</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>