@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.FacilityType.IndexModel
@{
    ViewData["Title"] = $"Site Maintenance: {MaintenanceOptions.FacilityType}";
}
<a asp-page="../Index">← Site Maintenance</a>
<h1>
    @MaintenanceOptions.FacilityType <a asp-page="Add" class="btn btn-outline-primary btn-sm">Create New</a>
</h1>
<partial name="_AlertPartial" for="DisplayMessage" />

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Code</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.FacilityTypes)
    {
        <tr class="@(!item.Active ? "table-secondary" : "")">
            <td class="text-nowrap">
                @Html.DisplayFor(m => item.Name, "StringOrNone")
                @Html.DisplayFor(m => item.Active, "BoolRemoved")
            </td>
            <td>@Html.DisplayFor(m => item.Description, "StringOrNone")</td>
            <td class="text-nowrap">
                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Restore/Remove</a>
            </td>
        </tr>
    }
    </tbody>
</table>