@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.LocationClass.IndexModel

@section Scripts {
    <script src="~/js/formIndex.js"></script>
}

@{
    ViewData["Title"] = $"Site Maintenance: {MaintenanceOptions.LocationClass}";
}

<a asp-page="../Index">← Site Maintenance</a>
<h1>
    @MaintenanceOptions.LocationClass <a asp-page="Add" class="btn btn-outline-primary btn-sm">Create New</a>
</h1>
<partial name="_AlertPartial" for="DisplayMessage" id="alert" />

<form method="post">
    <table class="table" aria-label="List of Location Classes">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-md-2">Name</th>
                <th scope="col" class="col-md-8">Description</th>
                <th scope="col" class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LocationClasses)
            {
                <tr class="@(!item.Active ? "table-warning" : "")">
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Name, "StringOrNone")
                        @Html.DisplayFor(m => item.Active, "BoolRemoved")
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.Description, "StringOrNone")
                    </td>
                    <td class="text-nowrap">
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                        @if (item.Active)
                        {
                            <button type="submit" name="itemId" value="@item.Id" class="btn btn-outline-warning btn-sm">Remove from list</button>
                        }
                        else
                        {
                            <button type="submit" name="itemId" value="@item.Id" class="btn btn-outline-warning btn-sm">Restore to list</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
