@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.Chemical.IndexModel

@section Scripts {
    <script src="~/js/formIndex.js"></script>
    <script asp-add-content-to-csp>
        document.addEventListener('DOMContentLoaded', () => {
            const filterInput = document.getElementById('chemical-list-filter');
            const countOutput = document.getElementById('filtered-chemical-list-count');
            const originalList = document.getElementById('chemical-list');
            const originalListItems = originalList.getElementsByTagName('li');
            const filteredList = document.getElementById('filtered-chemical-list');

            filterInput.addEventListener('input', () => {
                const filter = filterInput.value.toLowerCase();
                const fragment = document.createDocumentFragment();
                let count = 0;

                for (let i = 0; i < originalListItems.length; i++) {
                    const a = originalListItems[i].getElementsByTagName('a')[0];
                    const textValue = a.textContent || a.innerText;
                    if (textValue.toLowerCase().indexOf(filter) > -1) {
                        fragment.appendChild(originalListItems[i].cloneNode(true));
                        count++;
                    }
                }

                originalList.style.display = 'none';
                filteredList.innerHTML = '';
                filteredList.appendChild(fragment);
                countOutput.textContent = count > 0 ? ` (${count} found)` : ' (none found)';
            });
        });
    </script>
}

@{
    ViewData["Title"] = $"Site Maintenance: {MaintenanceOptions.Chemical}";
}

<a asp-page="../Index">← Site Maintenance</a>
<h1>
    @MaintenanceOptions.Chemical List <a asp-page="Add" class="btn btn-outline-primary btn-sm">Create New</a>
</h1>
<partial name="_AlertPartial" for="DisplayMessage" id="alert" />

<div class="container-fluid">
    <div class="container bg-light-subtle p-3 m-1 rounded-3">
        <form class="container my-3">
            <label class="visually-hidden" for="chemical-list-filter">Filter Chemical list</label>
            <div class="row row-cols-sm-auto align-items-center">
                <input id="chemical-list-filter" class="form-control col-md-12 w-auto" placeholder="Filter chemical list" />
                <span id="filtered-chemical-list-count" class="col-12 text-body-secondary">
                    (@(Model.Chemicals.Count > 0 ? Model.Chemicals.Count.ToString() : "none") found)
                </span>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="container bg-light-subtle p-3 m-1 rounded-3">
        <ul id="chemical-list">
            @for (var i = 0; i < Model.Chemicals.Count; i++)
            {
                var item = Model.Chemicals[i];
                <li class="d-flex align-items-center gap-2">
                    @if (item.Active)
                    {
                        <form method="post" class="d-inline">
                            <button type="submit" name="itemId" value="@item.Id" class="btn btn-outline-info btn-sm">Remove from list</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" class="d-inline">
                            <button type="submit" name="itemId" value="@item.Id" class="btn btn-outline-warning btn-sm">Restore to list</button>
                        </form>
                    }
                    <a asp-page="Edit" asp-route-id="@item.Id"
                       class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover @(!item.Active ? "link-warning" : "link-primary ")">
                        @item.CasNo <span class="link-body-emphasis">–</span> @item.ChemicalName
                    </a>
                </li>
            }
        </ul>
        <ul id="filtered-chemical-list"></ul>
    </div>
</div>