@page
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.IndexModel
@{
    ViewData["Title"] = $"Site Maintenance";
}
<h1>@ViewData["Title"]</h1>

<p class="lead">Select a drop-down list to edit.</p>

<ul>
    <li>
        <a class="nav-link" asp-page="BudgetCode/Index">@MaintenanceOptions.BudgetCode</a>
    </li>
    <li>
        <a class="nav-link" asp-page="ComplianceOfficer/Index">@MaintenanceOptions.ComplianceOfficer</a>
    </li>
    <li>
        <a class="nav-link" asp-page="FacilityStatus/Index">@MaintenanceOptions.FacilityStatus</a>
    </li>
    <li>
        <a class="nav-link" asp-page="FacilityType/Index">@MaintenanceOptions.FacilityType</a>
    </li>
    <li>
        <a class="nav-link" asp-page="OrganizationalUnit/Index">@MaintenanceOptions.OrganizationalUnit</a>
    </li>
    <li>
        <a class="nav-link" asp-page="ActionTaken/Index">@MaintenanceOptions.ActionTaken</a>
    </li>
    <li>
        <a class="nav-link" asp-page="EventType/Index">@MaintenanceOptions.EventType</a>
    </li>
    <li>
        <a class="nav-link" asp-page="ContactType/Index">@MaintenanceOptions.ContactType</a>
    </li>
    <li>
        <a class="nav-link" asp-page="ContactTitle/Index">@MaintenanceOptions.ContactTitle</a>
    </li>
    <li>
        <a class="nav-link" asp-page="FundingSource/Index">@MaintenanceOptions.FundingSource</a>
    </li>
    <li>
        <a class="nav-link" asp-page="GroundwaterStatus/Index">@MaintenanceOptions.GroundwaterStatus</a>
    </li>
</ul>