@page
@model FMS.Pages.Reports.IndexModel
@{
    ViewData["Title"] = "Report";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p class="lead">Total Facilities Found: @Model.FacilityList.Count</p>

<h2 class="h5">Search Criteria</h2>
<ul>
    @if (Model.Spec.FacilityNumber != null)
    {
        <li>
            <b>Facility Number:</b> @Model.Spec.FacilityNumber
        </li>
    }
    @if (Model.Spec.FileLabel != null)
    {
        <li>
            <b>File Label:</b> @Model.Spec.FileLabel
        </li>
    }
    @if (Model.Spec.Name != null)
    {
        <li>
            <b>Facility Name:</b> @Model.Spec.Name
        </li>
    }
    @if (Model.Spec.Address != null)
    {
        <li>
            <b>Street Address:</b> @Model.Spec.Address
        </li>
    }
    @if (Model.Spec.City != null)
    {
        <li>
            <b>City:</b> @Model.Spec.City
        </li>
    }
    @if (Model.Spec.State != null)
    {
        <li>
            <b>State:</b> @Model.Spec.State
        </li>
    }
    @if (Model.Spec.PostalCode != null)
    {
        <li>
            <b>ZIP Code:</b> @Model.Spec.PostalCode
        </li>
    }
    @if (Model.Spec.CountyId != null)
    {
        <li>
            <b>County:</b> @Model.CountyName
        </li>
    }
    @if (Model.Spec.BudgetCodeId != null)
    {
        <li>
            <b>Budget Code:</b> @Model.BudgetCodeName
        </li>
    }
    @if (Model.Spec.ComplianceOfficerId != null)
    {
        <li>
            <b>Compliance Officer:</b> @Model.ComplianceOfficerName
        </li>
    }
    @if (Model.Spec.OrganizationalUnitId != null)
    {
        <li>
            <b>Organizational Unit:</b> @Model.OrganizationalUnitName
        </li>
    }
    @if (Model.Spec.FacilityTypeId != null)
    {
        <li>
            <b>Type/Environmental Interest:</b> @Model.FacilityTypeName
        </li>
    }
    @if (Model.Spec.FacilityStatusId != null)
    {
        <li>
            <b>Facility Status:</b> @Model.FacilityStatusName
        </li>
    }
</ul>

@if (Model.FacilityList != null && Model.FacilityList.Count > 0)
{
    <table class="table">
        <caption>
            <form method="post">
                <button id="ExportButton" type="submit" class="btn btn-outline-primary">
                    Export to Excel
                </button>
                <input type="hidden" asp-for="Spec.FileLabel" />
                <input type="hidden" asp-for="Spec.FacilityNumber" />
                <input type="hidden" asp-for="Spec.FacilityTypeId" />
                <input type="hidden" asp-for="Spec.OrganizationalUnitId" />
                <input type="hidden" asp-for="Spec.ComplianceOfficerId" />
                <input type="hidden" asp-for="Spec.BudgetCodeId" />
                <input type="hidden" asp-for="Spec.FacilityStatusId" />
                <input type="hidden" asp-for="Spec.Name" />
                <input type="hidden" asp-for="Spec.Address" />
                <input type="hidden" asp-for="Spec.City" />
                <input type="hidden" asp-for="Spec.CountyId" />
                <input type="hidden" asp-for="Spec.State" />
                <input type="hidden" asp-for="Spec.PostalCode" />
                <input type="hidden" asp-for="Spec.ShowDeleted" />
            </form>
        </caption>
        <thead class="thead-light">
        <tr>
            <th scope="col">Facility</th>
            <th scope="col">File Label</th>
            <th scope="col">Name</th>
            <th scope="col">Street Address</th>
            <th scope="col">City</th>
            <th scope="col">County</th>
            <th scope="col">State</th>
            <th scope="col">ZIP Code</th>
            <th scope="col">Location Description</th>
            <th scope="col">Type/Environmental Interest</th>
            <th scope="col">Compliance Officer</th>
            <th scope="col">Organizational Unit</th>
            <th scope="col">Budget Code</th>
            <th scope="col">Environmental Interest</th>
            <th scope="col">Facility Status</th>
            <th scope="col">Cabinet(s)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.FacilityList)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.FacilityNumber)</td>
                <td class="text-nowrap">
                    @item.FileLabel
                </td>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Address)</td>
                <td>@Html.DisplayFor(m => item.City)</td>
                <td>@Html.DisplayFor(m => item.County.Name)</td>
                <td>@Html.DisplayFor(m => item.State)</td>
                <td>@Html.DisplayFor(m => item.PostalCode)</td>
                <td>@Html.DisplayFor(m => item.Location)</td>
                <td>@Html.DisplayFor(m => item.FacilityType.Name)</td>
                <td>@Html.DisplayFor(m => item.ComplianceOfficer.Name)</td>
                <td>@Html.DisplayFor(m => item.OrganizationalUnit.Name)</td>
                <td>@Html.DisplayFor(m => item.BudgetCode.Name)</td>
                <td>@Html.DisplayFor(m => item.FacilityStatus.Name)</td>
                <td>
                    @if (item.Cabinets.Count > 0)
                    {
                        @item.Cabinets.ConcatNonEmpty(" & ")
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="lead text-info mt-2">No matching facilities found.</p>
}