@page
@model FMS.Pages.Facilities.DeleteModel

@{
    ViewData["Title"] = $"Delete Facility: {Model.FacilityDetail.FacilityNumber}";
}

<h1><em>Confirm</em> @ViewData["Title"]</h1>

<div class="container bg-light-subtle p-3 rounded-3">
    <p class="lead text-danger font-weight-medium">Are you sure you want to delete this Facility?</p>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FileLabel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.FileLabel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Cabinets)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Cabinets, "Cabinets", new {Model.FacilityDetail.IsRetained})
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityStatus.Status, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Name, "FacilityTypeIcon")
            @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Description, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.BudgetCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.BudgetCode.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.OrganizationalUnit)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.OrganizationalUnit.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.ComplianceOfficer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.ComplianceOfficer.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Location)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Location, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Address)<br />
            @Html.DisplayFor(model => model.FacilityDetail.City),
            @Html.DisplayFor(model => model.FacilityDetail.State)
            @Html.DisplayFor(model => model.FacilityDetail.PostalCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.County)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.County.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Latitude)/@Html.DisplayNameFor(model => model.FacilityDetail.Longitude)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Latitude),
            @Html.DisplayFor(model => model.FacilityDetail.Longitude)
        </dd>
    </dl>
    <hr />
    <form method="post">
        <input asp-for="Id" />
        <button type="submit" class="btn btn-danger col-sm-3 mb-3 mb-sm-0">Delete Facility</button>
        <a asp-page="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary col-sm-3 col-md-2">Cancel</a>
    </form>
</div>