@page "{id:Guid?}"
@using FMS.Domain.Entities.Users
@using FMS.Platform.Extensions
@model FMS.Pages.Facilities.DetailsModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formDetails.js"></script>
}

@{
    ViewData["Title"] = $"Facility {Model.FacilityDetail.FacilityNumber}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.FacilityDetail.Active)
    {
        <span class="text-muted">(Deleted)</span>
    }
    @if (User.IsInRole(UserRoles.FileEditor))
    {
        @if (Model.FacilityDetail.Active)
        {
            <a asp-page="Edit" asp-route-id="@Model.FacilityDetail.Id" class="btn btn-sm btn-outline-primary">Edit</a>
            <a asp-page="Delete" asp-route-id="@Model.FacilityDetail.Id" class="btn btn-sm btn-outline-danger">Delete</a>
        }
        else
        {
            <a asp-page="Undelete" asp-route-id="@Model.FacilityDetail.Id" class="btn btn-sm btn-outline-warning">Undelete</a>
        }
    }
</h1>
<hr />
<partial name="_AlertPartial" for="Message" id="alert" />

<div class="container-fluid parent-container d-lg-inline-flex">
    @if (Model.FacilityDetail.FacilityType.Name != "RN")
    {
        <div class="container bg-light-subtle p-3 m-1 rounded-3">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Name)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.FileLabel)
                </dt>
                @if (Model.FacilityDetail.FileId is not null)
                {
                    <dd class="col-sm-3">
                        <a asp-page="/Files/Details" asp-route-id="@Model.FacilityDetail.FileLabel" class="btn btn-outline-info btn-sm">
                            @Html.DisplayFor(model => model.FacilityDetail.FileLabel)
                        </a>
                    </dd>
                }
                else
                {
                    <dd class="col-sm-3">
                        <span class="text-info">No File Label</span>
                    </dd>
                }
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Cabinets)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.Cabinets, "Cabinets", new { Model.FacilityDetail.IsRetained })
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.IsRetained)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.IsRetained, "BoolYesNo")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.HasERecord)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.HasERecord, "BoolYesNo")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.FacilityStatus)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.FacilityStatus.Status, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.FacilityType)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Name, "FacilityTypeIcon")
                    @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Description, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.BudgetCode)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.BudgetCode.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.OrganizationalUnit)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.OrganizationalUnit.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.ComplianceOfficer)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.ComplianceOfficer.Name, "StringOrNotAssigned")
                </dd>
                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.Address)<br />
                    @Html.DisplayFor(model => model.FacilityDetail.City),
                    @Html.DisplayFor(model => model.FacilityDetail.State)
                    @Html.DisplayFor(model => model.FacilityDetail.PostalCode)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Location)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.Location, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.County)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.County.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Latitude)/@Html.DisplayNameFor(model => model.FacilityDetail.Longitude)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.Latitude),
                    @Html.DisplayFor(model => model.FacilityDetail.Longitude)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Comments)
                </dt>
                <dd class="col-sm-3">
                    @Html.DisplayFor(model => model.FacilityDetail.Comments, "StringOrNone")
                </dd>
            </dl>
        </div>
    }
    else
    {
        <div class="container bg-light-subtle p-3 m-1 rounded-3">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.FileLabel)
                </dt>
                @if (Model.FacilityDetail.FileId is not null)
                {
                    <dd class="col-sm-8">
                        <a asp-page="/Files/Details" asp-route-id="@Model.FacilityDetail.FileLabel" class="btn btn-outline-info btn-sm">
                            @Html.DisplayFor(model => model.FacilityDetail.FileLabel)
                        </a>
                    </dd>
                }
                else
                {
                    <dd class="col-sm-8">
                        <span class="text-info">No File Label</span>
                    </dd>
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Cabinets)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.Cabinets, "Cabinets", new { Model.FacilityDetail.IsRetained })
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.IsRetained)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.IsRetained, "BoolYesNo")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.HasERecord)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.HasERecord, "BoolYesNo")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.FacilityStatus)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.FacilityStatus.Status, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.FacilityType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Name, "FacilityTypeIcon")
                    @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Description, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.BudgetCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.BudgetCode.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.OrganizationalUnit)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.OrganizationalUnit.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.ComplianceOfficer)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.ComplianceOfficer.Name, "StringOrNotAssigned")
                </dd>
                <dt class="col-sm-4">Address</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.Address)<br />
                    @Html.DisplayFor(model => model.FacilityDetail.City),
                    @Html.DisplayFor(model => model.FacilityDetail.State)
                    @Html.DisplayFor(model => model.FacilityDetail.PostalCode)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Location)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.Location, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.County)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.County.Name, "StringOrNone")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Latitude)/@Html.DisplayNameFor(model => model.FacilityDetail.Longitude)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.Latitude),
                    @Html.DisplayFor(model => model.FacilityDetail.Longitude)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FacilityDetail.Comments)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FacilityDetail.Comments, "StringOrNone")
                </dd>
            </dl>
        </div>
        <div class="container bg-light-subtle p-3 m-1 rounded-3">
            <H2>Release Notification Information</H2>
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.RNDateReceived)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.RNDateReceived, "DateOrNone")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.DeterminationLetterDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.DeterminationLetterDate, "DateOrNone")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.ImageChecked)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.ImageChecked, "BoolYesNo")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.HSInumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.HSInumber, "StringOrNone")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.AdditionalDataRequested)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.AdditionalDataRequested, "BoolYesNo")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.PreRQSMcleanup)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.PreRQSMcleanup, "BoolYesNo")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.DeferredOnSiteScoring)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.DeferredOnSiteScoring, "BoolYesNo")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.VRPReferral)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.VRPReferral, "BoolYesNo")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.HistoricalUnit)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.HistoricalUnit, "StringOrNotAssigned")
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FacilityDetail.HistoricalComplianceOfficer)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FacilityDetail.HistoricalComplianceOfficer, "StringOrNotAssigned")
                </dd>
            </dl>
        </div>
    }
</div>

@if (Model.FacilityDetail.FacilityType.Name == "HSI")
{
    <div class="container-fluid">
        <div class="container bg-light-subtle p-3 m-1 rounded-3">
            <nav class="navbar navbar-expand-sm">
                <ul class="nav nav-tabs" id="HSINavBar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#HSIProperties" type="text/html" role="tab" aria-controls="HSIProperties" aria-selected="true" href="#HSIProperties">HSI Properties</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Location" type="text/html" role="tab" aria-controls="Location" aria-selected="false" href="#Location">Location</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Contacts" type="text/html" role="tab" aria-controls="Contacts" aria-selected="false" href="#Contacts">Contacts</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Score" type="text/html" role="tab" aria-controls="Score" aria-selected="false" href=#Score>Score</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Substances" type="text/html" role="tab" aria-controls="Substances" aria-selected="false" href="#Substances">Substances</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Status" type="text/html" role="tab" aria-controls="Status" aria-selected="false" href="#Status">Status</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Events" type="text/html" role="tab" aria-controls="Events" aria-selected="false" href="#Events">Events</a>
                    </li>
                </ul>
            </nav>

            <div class="tab-content">
                <div class="tab-pane active" id="HSIProperties" role="tabpanel" aria-labelledby="HSIProperties-tab">
                    <H3>
                        Additional HSI Information
                        <a asp-page="/Status/Edit" class="btn btn-sm btn-primary">Edit</a>
                    </H3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.DateListed)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.DateListed, "DateOrNone")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.AdditionalOrgUnit)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.AdditionalOrgUnit, "StringOrNone")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.Geologist)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.Geologist, "StringOrNone")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.VRPDate)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.VRPDate, "DateOrNone")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.BrownfieldDate)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.BrownfieldDate, "DateOrNone")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.DateDeListed)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.FacilityDetail.HsrpFacilityPropertyDetails.DateDeListed, "DateOrNone")
                        </dd>
                    </dl>
                </div>

                <div class="tab-pane" id="Location" role="tabpanel" aria-labelledby="Location-tab">
                    <h3>
                        Location
                        <a asp-page="/Location/Edit" class="btn btn-sm btn-primary">Edit Location</a>
                    </h3>
                    <hr />
                    <div class="row">
                        <div class="col-sm-1">
                            @Html.DisplayNameFor(model => model.FacilityDetail.LocationDetails.Class)
                        </div>
                        <div class="col-sm-2">
                            @Html.DisplayFor(model => model.FacilityDetail.LocationDetails.Class, "StringOrNone")
                        </div>
                        <div class="col">
                            <a href="~/images/h10789.bmp" target="_blank"><img src="~/images/h10789.bmp" class="rounded-0 border border-2" alt="Map Image Here" width="200" height="180"></a>
                        </div>
                    </div>
                    <hr />
                    <h4>
                        Parcels
                        <button class="btn btn-sm btn-primary">Add Parcel</button>
                    </h4>
                    <div class="row justify-content-evenly">
                        <table class="table table-sm" aria-label="Parcels">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Parcel Number</th>
                                    <th scope="col">Acres</th>
                                    <th scope="col">Parcel Type</th>
                                    <th scope="col">List Date</th>
                                    <th scope="col">De-List Date</th>
                                    <th scope="col">Sub-List Parcel Name</th>
                                    <th scope="col" class="text-center">Active</th>
                                    @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                    {
                                        <th scope="col" class="text-left">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model.FacilityDetail.Parcels)
                                {
                                    <tr class="@(!p.Active ? "text-muted table-warning" : "") ">
                                        <td>@p.ParcelNumber</td>
                                        <td>@p.Acres</td>
                                        <td>@p.ParcelType?.Name</td>
                                        <td>@p.ListDate</td>
                                        <td>@p.DeListDate</td>
                                        <td>@p.SubListParcelName</td>
                                        <td class="text-center">@Html.DisplayFor(m => p.Active)</td>
                                        @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                        {
                                            <td>
                                                <a asp-page="./Location/Edit" asp-route-id="@p.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                                <a asp-page="./Location/Delete" asp-route-id="@p.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="Contacts" role="tabpanel" aria-labelledby="Contacts-tab">
                    <h3>
                        Contacts
                        <a asp-page="/Contacts/Add" class="btn btn-sm btn-primary">Add Contact</a>
                    </h3>
                    <hr />
                    <div class="row">
                        <table class="table table-sm" aria-label="Parcels">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact Type</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="text-center">Active</th>
                                    @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                    {
                                        <th scope="col" class="text-left">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model.FacilityDetail.Contacts)
                                {
                                    <tr class="@(!c.Active ? "text-muted table-warning" : "")">
                                        <td>@c.GivenName&nbsp;@c.FamilyName</td>
                                        <td>@c.ContactType.Name</td>
                                        <td>@c.Company</td>
                                        <td>@c.ContactTitle.Name</td>
                                        <td>
                                            @c.Address<br />
                                            @c.City, @c.State&nbsp;@c.PostalCode
                                        </td>
                                        <td><a href=@c.GetMailTo()>@c.Email</a></td>
                                        <td class="text-center">@Html.DisplayFor(m => c.Active)</td>
                                        @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                        {
                                            <td>
                                                <a asp-page="./Contact/Edit" asp-route-id="@c.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                                <a asp-page="./Contact/Delete" asp-route-id="@c.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                                            </td>
                                        }
                                    </tr>
                                    @if (c.Phones.Count > 0 && c.Active)
                                    {
                                        <tr class="offset-md-2">
                                            <td colspan="4">
                                                <div class="accordion accordion-flush" id="PhoneNumbers+@c.FamilyName+@c.GivenName">
                                                    <div class="accordion-item">
                                                        <h3 class="accordion-header" id="PhoneList1">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PhoneNumberList+@c.FamilyName+@c.GivenName" aria-expanded="true" aria-controls="PhoneNumberList+@c.FamilyName+@c.GivenName">
                                                                Phone Numbers
                                                            </button>
                                                        </h3>
                                                        <div id="PhoneNumberList+@c.FamilyName+@c.GivenName" class="accordion-collapse collapse" aria-labelledby="Phone Number List">
                                                            <div class="accordion-body">
                                                                <a class="btn btn-sm btn-primary">Add New Phone Number</a>
                                                                <table class="table table-sm" aria-label="Phone Numbers">
                                                                    <thead class="thead-light">
                                                                        <tr>
                                                                            <th scope="col">Phone Type</th>
                                                                            <th scope="col">Number</th>
                                                                            <th scope="col">Active</th>
                                                                            @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                                                            {
                                                                                <th scope="col" class="text-center">Actions</th>
                                                                            }
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var p in c.Phones)
                                                                        {
                                                                            <tr class="@(!p.Active ? "text-muted table-warning" : "") ">
                                                                                <td>@p.PhoneType</td>
                                                                                <td><a href=@p.GetTelTo()>@p.Number</a></td>
                                                                                <td>@Html.DisplayFor(m => p.Active)</td>
                                                                                @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                                                                {
                                                                                    <td class="justify-content-end">
                                                                                        <a asp-page="./Contact/Phone/Edit" asp-route-id="@p.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                                                                        <a asp-page="./Contact/Phone/Delete" asp-route-id="@p.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                                                                                    </td>
                                                                                }
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="Score" role="tabpanel" aria-labelledby="Score-tab">
                    <h3>
                        Score
                        <a asp-page="/Score/Edit" class="btn btn-sm btn-primary">Edit Score</a>
                    </h3>
                    <hr />
                    <div class="row">
                        <div class="container bg-light-subtle m-1">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FacilityDetail.ScoreDetails.ScoredBy)
                                </dt>
                                <dd class="col-sm-2">
                                    @Html.DisplayFor(model => model.FacilityDetail.ScoreDetails.ScoredBy.Name, "StringOrNone")
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FacilityDetail.ScoreDetails.ScoredDate)
                                </dt>
                                <dd class="col-sm-2">
                                    @Html.DisplayFor(model => model.FacilityDetail.ScoreDetails.ScoredDate, "Date")
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.FacilityDetail.ScoreDetails.UseComments)
                                </dt>
                                <dd class="col-sm-1">
                                    @Html.DisplayFor(model => model.FacilityDetail.ScoreDetails.UseComments, "YesNo")
                                </dd>
                                <dt class="col-sm-2 pt-3">
                                    @Html.DisplayNameFor(model => model.FacilityDetail.ScoreDetails.Comments)
                                </dt>
                                <dd class="col-sm-8 pt-3">
                                    <textarea readonly class="form-control" rows="3" id="ScoreComments">@Html.DisplayFor(model => model.FacilityDetail.ScoreDetails.Comments, "StringOrNone")</textarea>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container-fluid parent-container d-lg-inline-flex">
                            <div class="container bg-light-subtle p-3 m-1">
                                <h4>
                                    Groundwater Score
                                    <a class="btn btn-sm btn-outline-primary">Edit</a>
                                </h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.GWScore)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.GWScore, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.A)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.A, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.B1)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.B1, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.B2)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.B2, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.C)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.C, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.Description)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.Description, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.ChemName)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.ChemName, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.Other)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.Other, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.D2)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.D2, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.D3)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.D3, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.CASNO)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.CASNO, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.E1)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.E1, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.GroundwaterScoreDetails.E2)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.GroundwaterScoreDetails.E2, "Number")
                                    </dd>
                                </dl>
                            </div>
                            <div class="container bg-light-subtle p-3 m-1">
                                <h4>
                                    Onsite Score
                                    <a class="btn btn-sm btn-outline-primary">Edit</a>
                                </h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.OnsiteScoreValue)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.OnsiteScoreValue, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.A)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.A, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.B)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.B, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.C)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.C, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.Description)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.Description, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.ChemName1D)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.ChemName1D, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.Other1D)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.Other1D, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.D2)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.D2, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.D3)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.D3, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.CASNO)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.CASNO, "StringOrNone")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.E1)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.E1, "Number")
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.FacilityDetail.OnsiteScoreDetails.E2)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.FacilityDetail.OnsiteScoreDetails.E2, "Number")
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="Substances" role="tabpanel" aria-labelledby="Substances-tab">
                    <h3>
                        Substances
                        <a asp-page="/Substances/Edit" class="btn btn-sm btn-primary">Edit Substances</a>
                    </h3>
                    <hr />
                    <div class="row justify-content-evenly">
                        <table class="table table-sm" aria-label="Parcels">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">CAS Number</th>
                                    <th scope="col">Substance Name</th>
                                    <th scope="col">Common Name</th>
                                    <th scope="col" class="text-center">Groundwater</th>
                                    <th scope="col" class="text-center">Soil</th>
                                    <th scope="col" class="text-center">Use for Scoring</th>
                                    <th scope="col" class="text-center">Active</th>
                                    @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                    {
                                        <th scope="col" class="text-left">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in Model.FacilityDetail.Substances)
                                {
                                    <tr class ="@(!s.Active || !s.Chemical.Active ? "text-muted table-warning" : "")">
                                        <td>@s.Chemical.CasNo</td>
                                        <td>@s.Chemical.ChemicalName</td>
                                        <td>@s.Chemical.CommonName</td>
                                        <td class="text-center">@Html.DisplayFor(m => s.Groundwater)</td>
                                        <td class="text-center">@Html.DisplayFor(m => s.Soil)</td>
                                        <td class="text-center">@Html.DisplayFor(m => s.UseForScoring)</td>
                                        <td class="text-center">@Html.DisplayFor(m => s.Active)</td>
                                        @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                        {
                                            <td>
                                                <a asp-page="./Substance/Edit" asp-route-id="@s.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                                <a asp-page="./Substance/Delete" asp-route-id="@s.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="Status" role="tabpanel" aria-labelledby="Status-tab">
                    <h3>
                        Status
                        <a asp-page="/Status/Edit" class="btn btn-sm btn-primary">Edit Status</a>
                    </h3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Source Status
                        </dt>
                        <dd class="col-sm-2">
                            Source Status 2
                        </dd>
                        <dt class="col-sm-2">
                            Source Date
                        </dt>
                        <dd class="col-sm-2">
                            12-23-2017
                        </dd>
                        <dt class="col-sm-2">
                            Source HWTF Projected
                        </dt>
                        <dd class="col-sm-2">
                            50,000
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Soil Status
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            Soil Status 2
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Soil Date
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            12-23-2019
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Soil HWTF Projected
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            20,000
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Groundwater Status
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            Groundwater Status 3
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Groundwater Date
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            12-23-2022
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Groundwater HWTF Projected
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            40,000
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Overall Status
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            Overall Status 2
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Date
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            12-23-2023
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            ISWQS
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            <input class="form-check-input" type="checkbox" value="true" id="cbISWQS" checked />
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Primary Funding Source
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            Funding Source 3
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Landfill
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            <input class="form-check-input" type="checkbox" value="true" id="cbLF" checked readonly />
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            SW Permit Number
                        </dt>
                        <dd class="col-sm-2 pt-3">
                            SW293845
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            GAPS Score
                        </dt>
                        <dd class="col-sm-10 pt-3">
                            34
                        </dd>
                        <dt class="col-sm-2 pt-3">
                            Comments
                        </dt>
                        <dd class="col-sm-8 pt-3">
                            <textarea class="form-control" rows="3" id="GAPSComments">some comments to use for info</textarea>
                        </dd>
                    </dl>
                    <hr />
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-check">
                                <label class="form-check-label" for="cbLien">
                                    Lien
                                </label>
                                <input class="form-check-input" type="checkbox" value="true" id="cbLien" checked readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-sm btn-primary">Lien Tracker</a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-check">
                                <label class="form-check-label" for="cbFinancialAssurance">
                                    Financial Assurance
                                </label>
                                <input class="form-check-input" type="checkbox" value="true" id="cbFinancialAssurance" checked readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-sm btn-primary">Financial Assurance Tracker</a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="Events" role="tabpanel" aria-labelledby="Events-tab">
                    <h3>
                        Events
                        <a asp-page="/Event/Add" class="btn btn-sm btn-primary">Add Event</a>
                    </h3>
                    <hr />
                    <div class="row justify-content-evenly">
                        <table class="table table-sm" aria-label="Parcels">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Event Type</th>
                                    <th scope="col">Action Taken</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Completion Date</th>
                                    <th scope="col">Done By</th>
                                    <th scope="col">Event Amount</th>
                                    <th scope="col">Entity Name or No.</th>
                                    <th scope="col">Comment</th>
                                    @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                    {
                                        <th scope="col" class="text-left">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PAF</td>
                                    <td>Approved</td>
                                    <td>1/23/2017</td>
                                    <td>10/2/2018</td>
                                    <td></td>
                                    <td>Joe Schmoe</td>
                                    <td>123,000</td>
                                    <td>856548</td>
                                    <td>Beginning of PAF progress</td>
                                    @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                    {
                                        <td>
                                            <a class="btn btn-sm btn-outline-primary">Edit</a>
                                            <a class="btn btn-sm btn-outline-danger">Delete</a>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>Removal Work Plan</td>
                                    <td>Submitted</td>
                                    <td>3/23/2017</td>
                                    <td>4/2/2017</td>
                                    <td>10/2/2017</td>
                                    <td>Joe Schmoe</td>
                                    <td>23,000</td>
                                    <td>856548</td>
                                    <td>Plan Approved</td>
                                    @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                    {
                                        <td>
                                            <a class="btn btn-sm btn-outline-primary">Edit</a>
                                            <a class="btn btn-sm btn-outline-danger">Delete</a>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.FacilityDetail.FacilityType.Name == "RN" || Model.FacilityDetail.FacilityType.Name == "HSI")
{
    <div class="container bg-light-subtle p-3 m-1 rounded-3">
        <a class="btn btn-sm btn-primary" target="_blank" href=@GlobalConstants.TemplateFolderLink>RRP Template Folder</a>

        @if (!string.IsNullOrEmpty(Model.HSIFolderLink))
        {
            <a class="btn btn-sm btn-primary" target="_blank" href=@Model.HSIFolderLink>HSI Folder</a>
        }
        @if (!string.IsNullOrEmpty(Model.NotificationFolderLink))
        {
            <a class="btn btn-sm btn-primary" target="_blank" href=@Model.NotificationFolderLink>Release Notification(s)</a>
        }
        @if (!string.IsNullOrEmpty(Model.PendingNotificationFolderLink))
        {
            <a class="btn btn-sm btn-primary" target="_blank" href=@Model.PendingNotificationFolderLink>Pending Release Notification</a>
        }
        @if (!string.IsNullOrEmpty(Model.RNHSIFolderLink))
        {
            <a class="btn btn-sm btn-primary" target="_blank" href=@Model.RNHSIFolderLink>HSI Folder</a>
        }
    </div>
}

@if (Model.FacilityDetail.FacilityType.Name != "RN")
{
    <div class="container bg-light-subtle p-3 m-1 rounded-3">
        <div class="accordion accordion-flush" id="retention-records">
            <div class="accordion-item">
                <h3 class="accordion-header" id="RetentionRecordList">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#r-records" aria-expanded="true" aria-controls="r-records">
                        View Retention Records
                    </button>
                </h3>
                <div id="r-records" class="accordion-collapse collapse" aria-labelledby="Retention Record List">
                    <div class="accordion-body">
                        @if (Model.FacilityDetail.RetentionRecords.Count > 0)
                        {
                            <table class="table table-sm" aria-label="Retention Records">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Years</th>
                                        <th scope="col">Box Number</th>
                                        <th scope="col">Consignment Number</th>
                                        <th scope="col">Shelf Number</th>
                                        <th scope="col">Retention Schedule Number</th>
                                        <th scope="col" class="text-center">Retained</th>
                                        @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                        {
                                            <th scope="col" class="text-center">Actions</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.FacilityDetail.RetentionRecords)
                                    {
                                        <tr class="@(r.Id == Model.HighlightRecord ? "table-warning" : "") @(!r.Active ? "text-muted" : "") ">
                                            <td>@r.StartYear&nbsp;&ndash;&nbsp;@r.EndYear</td>
                                            <td>@r.BoxNumber</td>
                                            <td>@r.ConsignmentNumber</td>
                                            <td>@r.ShelfNumber</td>
                                            <td>@r.RetentionSchedule</td>
                                            <td class="text-center">@Html.DisplayFor(m => r.Active)</td>
                                            @if (Model.FacilityDetail.Active && User.IsInRole(UserRoles.FileEditor))
                                            {
                                                <td>
                                                    <a asp-page="./EditRetentionRecord" asp-route-id="@r.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <span class="text-muted">none</span>
                        }
                    </div>
                </div>
            </div>

            @if (Model.FacilityDetail.Active &&
                    (User.IsInRole(UserRoles.FileCreator) || User.IsInRole(UserRoles.FileEditor) || User.IsInRole(UserRoles.SiteMaintenance)))
            {
                <div class="accordion-item">
                    <h3 class="accordion-header" id="CreateRetentionRecord">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#create-r-records" aria-expanded="true" aria-controls="create-r-records">
                            Add Retention Records
                        </button>
                    </h3>
                    <div id="create-r-records" class="accordion-collapse collapse" aria-labelledby="CreateRetentionRecord">
                        <div class="accordion-body">
                            <form method="post" asp-page-handler="RetentionRecord" asp-fragment="retention-records">
                                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                                <div class="mb-3 row">
                                    <div class="col-sm-4">
                                        <label asp-for="RecordCreate.StartYear">Start Year <span class="text-danger">*</span></label>
                                        <input asp-for="RecordCreate.StartYear" class="form-control" />
                                        <span asp-validation-for="RecordCreate.StartYear" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-4">
                                        <label asp-for="RecordCreate.EndYear">End Year <span class="text-danger">*</span></label>
                                        <input asp-for="RecordCreate.EndYear" class="form-control" />
                                        <span asp-validation-for="RecordCreate.EndYear" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-4">
                                        <label asp-for="RecordCreate.BoxNumber">Box Number <span class="text-danger">*</span></label>
                                        <input asp-for="RecordCreate.BoxNumber" class="form-control" />
                                        <span asp-validation-for="RecordCreate.BoxNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-sm-4">
                                        <label asp-for="RecordCreate.ConsignmentNumber"></label>
                                        <input asp-for="RecordCreate.ConsignmentNumber" class="form-control" />
                                        <span asp-validation-for="RecordCreate.ConsignmentNumber" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-4">
                                        <label asp-for="RecordCreate.ShelfNumber"></label>
                                        <input asp-for="RecordCreate.ShelfNumber" class="form-control" />
                                        <span asp-validation-for="RecordCreate.ShelfNumber" class="text-danger"></span>
                                    </div>

                                    <div class="col-sm-4">
                                        <label asp-for="RecordCreate.RetentionSchedule"></label>
                                        <input asp-for="RecordCreate.RetentionSchedule" class="form-control" />
                                        <span asp-validation-for="RecordCreate.RetentionSchedule" class="text-danger"></span>
                                    </div>
                                </div>

                                <input asp-for="FacilityId" />
                                <hr />
                                <p class="text-danger">* denotes a required field</p>
                                <button type="submit" class="btn btn-primary mb-2">Add Retention Record</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}