@page "{id:Guid?}"
@model Pages.Facilities.DetailsModel
@{
    ViewData["Title"] = $"Facility Details: {Model.FacilityDetail.FacilityNumber}";
}
<h1 id="details">@ViewData["Title"]</h1>
<hr />

@if (Model.ShowSuccessMessage)
{
    <div class="alert alert-success" role="alert">
        Facility successfully updated.
    </div>
}

<div class="container-fluid">
    <dl class="row">
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityNumber)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityNumber)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.File.FileLabel)
        </dt>
        <dd class="col-xl-9">
            <a asp-page="../Files/Index" asp-route-id="@Model.FacilityDetail.File.Id" class="btn btn-outline-primary btn-sm col-md-2">
                @Html.DisplayFor(model => model.FacilityDetail.File.FileLabel)
            </a>
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityStatus)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityStatus.Status)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityType)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Name)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.BudgetCode.Name)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.BudgetCode.Name)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.OrganizationalUnit.Name)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.OrganizationalUnit.Name)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.EnvironmentalInterest.Name)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.EnvironmentalInterest.Name)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.ComplianceOfficer.GivenName)
        </dt> 
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.ComplianceOfficer.GivenName)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Location)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.Location)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Address)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.Address)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.City)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.City)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.County)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.County.Name)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.State)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.State)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.PostalCode)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.PostalCode)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Latitude)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.Latitude)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Longitude)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.Longitude)
        </dd>
        <dt class="col-xl-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Active)
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.FacilityDetail.Active)
        </dd>
        @*<dt class="col-xl-3">
            <span>Retention Records</span>
        </dt>
        <dd class="col-xl-9">
            @Html.DisplayFor(model => model.Facility.RetentionRecords.ForEach)
        </dd>*@
    </dl>
</div>
<hr />
<div class="row">
    <div class="col">
        <a asp-page="Edit" asp-route-id="@Model.FacilityDetail.Id" class="btn btn-primary col-md-2">Edit Facility</a>
        <a asp-page="Delete" asp-route-id="@Model.FacilityDetail.Id" class="btn btn-outline-danger col-md-2">Delete Facility</a>
        <a href="javascript: history.go(-1)" class="btn btn-outline-secondary col-md-2">Back</a>
    </div>
</div>
