@page "{id:Guid?}"
@model Pages.Facilities.DetailsModel
@{
    ViewData["Title"] = $"Facility {Model.FacilityDetail.FacilityNumber}";
}
<h1>
    @ViewData["Title"]
    @if (!Model.FacilityDetail.Active)
    {
        <span class="text-muted">(Inactive)</span>
    }
    @* TODO #38: Add authorize check in production *@
    <a asp-page="Edit" asp-route-id="@Model.FacilityDetail.Id" class="btn btn-sm btn-outline-primary">Edit</a>
</h1>
<hr />
<partial name="_AlertPartial" for="Message" />

<div class="container-fluid">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FileLabel)
        </dt>
        <dd class="col-sm-9">
            <a asp-page="/Files/Details" asp-route-id="@Model.FacilityDetail.FileLabel" class="btn btn-outline-info btn-sm">
                @Html.DisplayFor(model => model.FacilityDetail.FileLabel)
            </a>
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Cabinets)
        </dt>
        <dd class="col-sm-9">
            @if (Model.FacilityDetail.Cabinets.Count > 0)
            {
                @Model.FacilityDetail.Cabinets.ConcatNonEmpty(", ")
            }
            else
            {
                <span class="text-muted">none</span>
            }
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityStatus.Status, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.FacilityType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.FacilityType.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.BudgetCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.BudgetCode.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.OrganizationalUnit)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.OrganizationalUnit.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.EnvironmentalInterest)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.EnvironmentalInterest.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.ComplianceOfficer)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.ComplianceOfficer.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Location)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Location, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Address, "StringOrNone")<br />
            @Html.DisplayFor(model => model.FacilityDetail.City, "StringOrNone"),
            @Html.DisplayFor(model => model.FacilityDetail.State, "StringOrNone")
            @Html.DisplayFor(model => model.FacilityDetail.PostalCode, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.County)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.County.Name, "StringOrNone")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FacilityDetail.Latitude)/@Html.DisplayNameFor(model => model.FacilityDetail.Longitude)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityDetail.Latitude),
            @Html.DisplayFor(model => model.FacilityDetail.Longitude)
        </dd>
    </dl>

    <h2 id="retention-records">Retention Records</h2>
    @if (Model.FacilityDetail.RetentionRecords.Count > 0)
    {
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Years</th>
                    <th scope="col">Box Number</th>
                    <th scope="col">Consignment Number</th>
                    <th scope="col">Shelf Number</th>
                    <th scope="col">Retention Schedule Number</th>
                    <th scope="col" class="text-center">Active</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.FacilityDetail.RetentionRecords)
                {
                    <tr class="@(r.Id==Model.HighlightRecord ? "table-warning" : "") @(!r.Active ? "table-secondary" : "") ">
                        <td>@r.StartYear&nbsp;&ndash;&nbsp;@r.EndYear</td>
                        <td>@r.BoxNumber</td>
                        <td>@r.ConsignmentNumber</td>
                        <td>@r.ShelfNumber</td>
                        <td>@r.RetentionSchedule</td>
                        <td class="text-center">@Html.DisplayFor(m => r.Active)</td>
                        <td>
                            <a asp-page="EditRetentionRecord" asp-route-id="@r.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <span class="text-muted">none</span>
    }

    <div class="container-fluid bg-light pt-3 mt-5">
        <h3 class="h5">Add a Retention Record</h3>
        <form method="post" asp-page-handler="RetentionRecord" asp-fragment="retention-records">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label asp-for="RecordCreate.StartYear"></label>
                    <input asp-for="RecordCreate.StartYear" class="form-control" />
                    <span asp-validation-for="RecordCreate.StartYear" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-4">
                    <label asp-for="RecordCreate.EndYear"></label>
                    <input asp-for="RecordCreate.EndYear" class="form-control" />
                    <span asp-validation-for="RecordCreate.EndYear" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-4">
                    <label asp-for="RecordCreate.BoxNumber"></label>
                    <input asp-for="RecordCreate.BoxNumber" class="form-control" />
                    <span asp-validation-for="RecordCreate.BoxNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label asp-for="RecordCreate.ConsignmentNumber"></label>
                    <input asp-for="RecordCreate.ConsignmentNumber" class="form-control" />
                    <span asp-validation-for="RecordCreate.ConsignmentNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-4">
                    <label asp-for="RecordCreate.ShelfNumber"></label>
                    <input asp-for="RecordCreate.ShelfNumber" class="form-control" />
                    <span asp-validation-for="RecordCreate.ShelfNumber" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-4">
                    <label asp-for="RecordCreate.RetentionSchedule"></label>
                    <input asp-for="RecordCreate.RetentionSchedule" class="form-control" />
                    <span asp-validation-for="RecordCreate.RetentionSchedule" class="text-danger"></span>
                </div>
            </div>

            <input asp-for="FacilityId" />
            <button type="submit" class="btn btn-primary mb-2">Add Retention Record</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="javascript: history.go(-1)" class="btn btn-outline-secondary col-md-2">Back</a>
    </div>
</div>
