@page
@model Pages.Facilities.EditConfirmModel
@{
    ViewData["Title"] = "Edit Confirmation";
}
<div class=" text-center">
    <h1>Confirm Facility Changes</h1>
    <h3><span style="color:red">Please review these changes</span></h3>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.FacilityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.FacilityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.BudgetCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.BudgetCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.ComplianceOfficer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.ComplianceOfficer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.County)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.County)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.EnvironmentalInterest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.EnvironmentalInterest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.FacilityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.FacilityType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.FacilityStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.FacilityStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.File)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.File)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facility.RetentionRecords)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facility.RetentionRecords)
        </dd>
    </dl>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="col text-center">
            <input type="hidden" asp-for="Facility.Id" />
        </div>
        <div class="col text-center">
            <input type="submit" value="Confirm" class="btn btn-danger" />
        </div>
    }
    <a asp-page="./Index"> Back to List</a>
</div>
