@page
@model Pages.Facilities.IndexMapModel
@{
    ViewData["Title"] = "Search Facilities By Address";
}
@section Scripts {
    <partial name="_MapSearchScriptsPartial" />
}
<div class="text-center">
    <h4><b>Search a Location</b></h4>
    <label>(See what's near any address)</label>
</div>
<div class="container-fluid">
    <form id="LocationSearch" method="get" asp-fragment="SearchResults">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Spec.Address"></label>
                <input id="Address" asp-for="Spec.Address" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Spec.City"></label>
                <input id="City" asp-for="Spec.City" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Spec.State"></label>
                <select asp-for="Spec.State" class="custom-select" disabled="true">
                    <option selected value="GA">Georgia</option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.PostalCode"></label>
                <input id="UserPostalCode" asp-for="Spec.PostalCode" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3">
                <label asp-for="Spec.Radius"></label>
                <select id="Radius" asp-for="Spec.Radius" class="custom-select">
                    <option selected value="0.25">1/4 Mile (default)</option>
                    <option value="0.5">1/2 Mile</option>
                    <option value="1">1 Mile</option>
                    <option value="3">3 Miles</option>
                    <option value="5">5 Miles</option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.Latitude"></label>
                <input id="Latitude" asp-for="Spec.Latitude" class="form-control" />
                <label>(Example: 34.101318)</label>
                <input id="LocalLat" asp-for="Spec.GeocodeLat" type="hidden" />
            </div>
            <div class="form-group col">
                <label asp-for="Spec.Longitude"></label>
                <input id="Longitude" asp-for="Spec.Longitude" class="form-control" />
                <label>(Example: -84.519379)</label>
                <input id="LocalLng" asp-for="Spec.GeocodeLng" type="hidden" />
            </div>
            <div class="col-md-3">
                <label class="form-check-label" asp-for="Spec.Output"></label>                
                <select id="Output" asp-for="Spec.Output" class="custom-select">
                    <option selected value="1">Map</option>
                    <option value="2">Table</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-check">
                <input asp-for="Spec.ActiveOnly" />
                <label asp-for="Spec.ActiveOnly" class="form-check-label"></label>
            </div>
        </div>
        <input type="hidden" name="handler" value="search" />
        <button id="Search" type="submit" class="btn btn-primary col-sm-3 col-md-2">Search</button>
        <a asp-page="./IndexMap" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear Form</a>
    </form>
</div>
<hr />
<a name="SearchResults"></a>
@if (Model.ShowMap)
{
    @if (Model.FacilityList != null && Model.FacilityList.Count > 0)
    {
        <div id="wrapper" class="container-fluid text-center">
            <table width=760 border="0" align="center">
                <tr>
                    <td colspan="2" valign="top">
                        <div id="dvMap" style="height:600px;width:100%"></div>
                    </td>
            </table>
        </div>
    }
    else
    {
        <div class="container mt-2">
            <p class="lead text-info">No matching facilities found.</p>
        </div>
    }

}
@if (Model.ShowResults)
{
    @if (Model.FacilityList != null && Model.FacilityList.Count > 0)
    {
        <div id="ResultList">
            <div class="container-fluid">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Facility</th>
                            <th scope="col">File</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Active</th>
                            <th scope="col">Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ShowResults)
                        {
                            @foreach (var item in Model.FacilityList)
                            {
                                <tr>
                                    <td>
                                        <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                                            @Html.DisplayFor(m => item.FacilityNumber)
                                        </a>
                                    </td>
                                    <td style="white-space: nowrap">
                                        <a asp-page="../Files/Details" asp-route-id="@item.FileLabel" class="btn btn-outline-primary btn-sm">
                                            @Html.DisplayFor(m => item.FileLabel)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Address)<br />
                                        @Html.DisplayFor(m => item.City),
                                        @Html.DisplayFor(m => item.State)
                                        @Html.DisplayFor(m => item.PostalCode)
                                    </td>                                  
                                    <td>
                                        @Html.DisplayFor(m => item.FacilityType)
                                    </td>

                                    <td style="white-space: nowrap">
                                        @Html.DisplayFor(m => item.FacilityStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Active)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.Distance) MI                                       
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="container mt-2">
            <p class="lead text-info">No matching facilities found.</p>
        </div>
    }

}
@if (Model.ShowNone)
{
<div class="container-fluid text-center">
    <h5 style="color:red">No matching facilities found.</h5>
</div>
}


