@page
@using FMS.Domain.Dto
@using FMS.Domain.Entities.Users
@model FMS.Pages.Facilities.IndexModel
@{
    ViewData["Title"] = "Facility Search";
}

@section Scripts {
    <partial name="_SearchFormScriptsPartial" />
}

<h1>@ViewData["Title"]</h1>

<div class="container bg-light py-3">
    <form method="get" asp-fragment="SearchResults">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md">
                <label asp-for="Spec.FileLabel"></label>
                <input asp-for="Spec.FileLabel" class="form-control" />
            </div>
            <div class="form-group col-md">
                <label asp-for="Spec.FacilityNumber"></label>
                <input asp-for="Spec.FacilityNumber" class="form-control" />
            </div>
            <div class="form-group col">
                <label asp-for="Spec.CountyId"></label>
                <select asp-for="Spec.CountyId" asp-items="Model.Counties" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label asp-for="Spec.FacilityTypeId"></label>
                <select asp-for="Spec.FacilityTypeId" asp-items="Model.FacilityTypes" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md">
                <label asp-for="Spec.OrganizationalUnitId"></label>
                <select asp-for="Spec.OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md">
                <label asp-for="Spec.ComplianceOfficerId"></label>
                <select asp-for="Spec.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label asp-for="Spec.BudgetCodeId"></label>
                <select asp-for="Spec.BudgetCodeId" asp-items="Model.BudgetCodes" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md">
                <label asp-for="Spec.EnvironmentalInterestId"></label>
                <select asp-for="Spec.EnvironmentalInterestId" asp-items="Model.EnvironmentalInterests" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md">
                <label asp-for="Spec.FacilityStatusId"></label>
                <select asp-for="Spec.FacilityStatusId" asp-items="Model.FacilityStatuses" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="Spec.Name"></label>
                <input asp-for="Spec.Name" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="Spec.Location"></label>
                <input asp-for="Spec.Location" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="Spec.Address"></label>
                <input asp-for="Spec.Address" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Spec.City"></label>
                <input asp-for="Spec.City" class="form-control" />
            </div>
            <div class="form-group col">
                <label asp-for="Spec.State"></label>
                <select asp-for="Spec.State" asp-items="Model.States" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.PostalCode"></label>
                <input asp-for="Spec.PostalCode" class="form-control" />
            </div>
        </div>
        @if (User.IsInRole(UserRoles.FileEditor))
        {
            <div class="form-group row">
                <div class="form-check">
                    <input asp-for="Spec.ShowDeleted" />
                    <label asp-for="Spec.ShowDeleted" class="form-check-label"></label>
                </div>
            </div>
        }
        <input type="hidden" name="handler" value="search" />
        <button id="SearchButton" type="submit" class="btn btn-primary col-sm-3 mb-3 mb-sm-0">Search</button>
        <a asp-page="./Index" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear Form</a>
    </form>
</div>

@if (Model.ShowResults)
{
    <a id="SearchResults"></a>

    @if (Model.FacilityList.CurrentCount > 0)
    {
        <table class="table">
            <caption class="container border-top py-3">
                <div class="row">
                    <div class="col-md mb-3 mb-md-0">
                        <form method="get" asp-page="/Reports/Index">
                            <input type="hidden" asp-for="Spec.FileLabel" />
                            <input type="hidden" asp-for="Spec.FacilityNumber" />
                            <input type="hidden" asp-for="Spec.FacilityTypeId" />
                            <input type="hidden" asp-for="Spec.OrganizationalUnitId" />
                            <input type="hidden" asp-for="Spec.ComplianceOfficerId" />
                            <input type="hidden" asp-for="Spec.BudgetCodeId" />
                            <input type="hidden" asp-for="Spec.EnvironmentalInterestId" />
                            <input type="hidden" asp-for="Spec.FacilityStatusId" />
                            <input type="hidden" asp-for="Spec.Name" />
                            <input type="hidden" asp-for="Spec.Location" />
                            <input type="hidden" asp-for="Spec.Address" />
                            <input type="hidden" asp-for="Spec.City" />
                            <input type="hidden" asp-for="Spec.CountyId" />
                            <input type="hidden" asp-for="Spec.State" />
                            <input type="hidden" asp-for="Spec.PostalCode" />
                            <input type="hidden" asp-for="Spec.ShowDeleted" />
                            <button id="ExportButton" type="submit" class="btn btn-sm btn-outline-primary">Create Report</button>
                        </form>
                    </div>
                    <div class="col-md">
                        <partial name="_PaginationNav" model="(Model.FacilityList, Model.Spec.AsRouteValues)" />
                    </div>
                    <div class="col-md text-md-right small">
                        <partial name="_PaginatedResultsCount" model="Model.FacilityList" />
                    </div>
                </div>
            </caption>
            <thead class="thead-light">
            <tr>
                <th scope="col">Facility</th>
                <th scope="col">File</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Cabinets</th>
                <th scope="col">Retention Records</th>
            </tr>
            </thead>
            <tbody>
            @foreach (FacilitySummaryDto item in Model.FacilityList.Items)
            {
                <tr class="@(!item.Active ? "table-secondary" : "")">
                    <td>
                        <a asp-page="Details" asp-route-id="@item.Id" class="btn @(item.Active ? "btn-outline-info" : "btn-outline-secondary") btn-sm">
                            @Html.DisplayFor(m => item.FacilityNumber, "StringOrNone")
                        </a>
                        @Html.DisplayFor(m => item.Active, "BoolDeleted")
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(m => item.FileLabel, "StringOrNone")
                    </td>
                    <td>@Html.DisplayFor(m => item.Name, "StringOrNone")</td>
                    <td>
                        @Html.DisplayFor(m => item.Address)<br />
                        @Html.DisplayFor(m => item.City),
                        @Html.DisplayFor(m => item.State)
                        @Html.DisplayFor(m => item.PostalCode)
                    </td>
                    <td>
                        @if (item.Cabinets.Count > 0)
                        {
                            @item.Cabinets.ConcatNonEmpty(", ")
                        }
                        else
                        {
                            <span class="text-muted">none</span>
                        }
                    </td>
                    <td>
                        @if (item.RetentionRecords.Count > 0)
                        {
                            <ul class="list-unstyled">
                                @foreach (var r in item.RetentionRecords)
                                {
                                    <li>@r.StartYear&ndash;@r.EndYear: @r.BoxNumber.Replace('-', '‑')</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span class="text-muted">none</span>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <partial name="_PaginationNav" model="(Model.FacilityList, Model.Spec.AsRouteValues)" />
    }
    else
    {
        <div class="container mt-2">
            <p class="lead text-info">No matching facilities found.</p>
        </div>
    }
}