@page
@model Pages.Facilities.IndexMapModel
@{
    ViewData["Title"] = "Search Facilities By Address";
}
@section Scripts {
    <partial name="_MapSearchScriptsPartial" />
}
<div class="text-center">
    <h4><b>Search a Location</b></h4>
    <label>(See what's near any address)</label>
</div>
<div class="container-fluid">
    <form id="LocationSearch" method="post">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Spec.Address"></label>
                <input id="Address" asp-for="Spec.Address" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Spec.City"></label>
                <input id="City" asp-for="Spec.City" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Spec.State"></label>
                <select asp-for="Spec.State" class="custom-select" disabled="true">
                    <option selected value="GA">Georgia</option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.PostalCode"></label>
                <input id="UserPostalCode" asp-for="Spec.PostalCode" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="Spec.Radius"></label>
                <select id="Radius" asp-for="Spec.Radius" class="custom-select">
                    <option selected value="0.25">1/4 Mile (default)</option>
                    <option value="0.5">1/2 Mile</option>
                    <option value="3">1 Mile</option>
                    <option value="4">3 Miles</option>
                    <option value="5">5 Miles</option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.Latitude"></label>
                <input id="Latitude" asp-for="Spec.Latitude" class="form-control" />
                <label>(Example: 33.748550)</label>
                <input id="LocalLat" asp-for="LocalLat" type="hidden" />
            </div>
            <div class="form-group col">
                <label asp-for="Spec.Longitude"></label>
                <input id="Longitude" asp-for="Spec.Longitude" class="form-control" />
                <label>(Example: -84.391502)</label>
                <input id="LocalLng" asp-for="LocalLng" type="hidden" />
            </div>
            <div class="col-md-3">
                <label class="form-check-label" asp-for="Output">Output</label>
                @*<input asp-for="ShowResults" />*@
                <select asp-for="Output" class="custom-select">
                    <option selected value="1">Map</option>
                    <option value="2">Table</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col">
                <div class="form-check">
                    <label class="form-check-label" asp-for="ActiveOnly">Show Active Sites Only</label>
                    <input asp-for="ActiveOnly" />
                </div>
            </div>
        </div>
      
        <div class="form-row">
            <div class="col" style="text-align:center;">
                <button id="Search" type="submit" class="btn btn-primary mb-2" style="text-align: center;width:100px; height:38px; margin-right:30px; line-height:1.1em; font-size:1.1em;">Search</button>
                <a asp-page="./IndexMap" class="btn btn-primary mb-2">Clear Form</a>
            </div>
        </div>
    </form>
</div>
<hr />
@if (Model.ActiveOnly)
{
    <div class="container-fluid text-center">
        <h5 style="color:red">Only Active Sites are being displayed</h5>
    </div>
    <hr />
}
@if (Model.ShowMap)
{
<div id="wrapper" class="container-fluid text-center">
    <table width=760 border="0" align="center">
        <tr>
            <td colspan="2" valign="top">
                <div id="dvMap" style="height:600px;width:100%"></div>               
            </td>
    </table>

        @*Map HTML in this div*@
        @*<h4>Map of results here</h4>
        <img src="~/graphics/GOOGLEMAP.jpg" alt="Results Map" width="500" height="300" />*@
</div>   
}
@if (Model.ShowNone)
{
    <div class="container-fluid text-center">
        <h5 style="color:red">Search Found No Matching Facilities</h5>
    </div>
}
@if (Model.ShowResults)
{
    <hr />
    <div class="text-center">
        <h4>Search Results</h4>
    </div>
    <div id="ResultList">
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.FacilityNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.FacilityType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.FileLabel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.FacilityStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.Active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Spec.Distance)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ShowResults)
                    {
                        @foreach (var item in Model.FacilityList)
                        {
                            if (Model.ActiveOnly)
                            {
                                if (item.Active)
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                                                @Html.DisplayFor(modelItem => item.FacilityNumber)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FacilityType.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FileLabel)
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FacilityStatus.Name)
                                        </td>                                         
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Active)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Distance)
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                                            @Html.DisplayFor(modelItem => item.FacilityNumber)
                                        </a>
                                    </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FacilityType.Name)
                                        </td>
                                        <td>
                                            <a asp-page="../Files/Index" asp-route-id="@item.FileId" class="btn btn-outline-primary btn-sm">
                                                @Html.DisplayFor(modelItem => item.FileLabel)
                                            </a>
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FacilityStatus.Name)
                                        </td>                                         
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Active)
                                        </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Distance)
                                        </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}


