@page
@using FMS.Domain.Dto
@using FMS.Domain.Entities.Users
@model FMS.Pages.Facilities.IndexModel
@{
    ViewData["Title"] = "Facility Search";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formSearch.js"></script>
    <script src="~/js/formIndex.js"></script>
}

<h1>@ViewData["Title"]</h1>

<partial name="_AlertPartial" for="Message" id="alert" />

<div class="p-3 rounded-3 bg-light-subtle">
    <form method="get" asp-fragment="SearchResults">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="mb-3 row">
            <div class="col-md-4">
                <label asp-for="Spec.FileLabel"></label>
                <input asp-for="Spec.FileLabel" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="Spec.FacilityNumber"></label>
                <input asp-for="Spec.FacilityNumber" class="form-control" />
            </div>
            <div class="col-md-4">
                <label asp-for="Spec.CountyId"></label>
                <select asp-for="Spec.CountyId" asp-items="Model.Counties" class="form-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-4">
                <label asp-for="Spec.FacilityTypeId"></label>
                <select asp-for="Spec.FacilityTypeId" asp-items="Model.FacilityTypes" class="form-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-4">
                <label asp-for="Spec.OrganizationalUnitId"></label>
                <select asp-for="Spec.OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="form-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md-4">
                <label asp-for="Spec.ComplianceOfficerId"></label>
                <select asp-for="Spec.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="form-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md">
                <label asp-for="Spec.BudgetCodeId"></label>
                <select asp-for="Spec.BudgetCodeId" asp-items="Model.BudgetCodes" class="form-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md">
                <label asp-for="Spec.FacilityStatusId"></label>
                <select asp-for="Spec.FacilityStatusId" asp-items="Model.FacilityStatuses" class="form-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <label asp-for="Spec.Name"></label>
                <input asp-for="Spec.Name" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <label asp-for="Spec.Location"></label>
                <input asp-for="Spec.Location" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col">
                <label asp-for="Spec.Address"></label>
                <input asp-for="Spec.Address" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-6">
                <label asp-for="Spec.City"></label>
                <input asp-for="Spec.City" class="form-control" />
            </div>
            <div class="col-md">
                <label asp-for="Spec.State"></label>
                <select asp-for="Spec.State" asp-items="Model.States" class="form-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-md">
                <label asp-for="Spec.PostalCode"></label>
                <input asp-for="Spec.PostalCode" class="form-control" />
            </div>
        </div>
        <div class="mb-3 row">
            @if (User.IsInRole(UserRoles.FileEditor) || User.IsInRole(UserRoles.SiteMaintenance))
            {
                <div class="col-md-3">
                    <div class="form-check">
                        <input asp-for="Spec.ShowDeleted" />
                        <label asp-for="Spec.ShowDeleted" class="form-check-label"></label>
                    </div>
                </div>
            }
            <div class="col-md">
                <div id="RNBlock" class="@(Model.ShowPendingOnlyCheckBox ? "" : "d-none")">
                    <div class="form-check">
                        <input asp-for="Spec.ShowPendingOnly" id="cbPending"/>
                        <label asp-for="Spec.ShowPendingOnly" class="form-check-label"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 mb-1">
            <input type="hidden" name="handler" value="search" />
            <button id="SearchButton" type="submit" class="btn btn-primary col-sm-3 me-2">Search</button>
            <a asp-page="./Index" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear Search</a>
        </div>
    </form>
</div>

@if (Model.ShowResults)
{
    <div class="border-top bg-light-subtle rounded-3" id="SearchResults">
        @if (Model.FacilityList.CurrentCount == 0)
        {
            <div class="container pt-3">
                <p class="lead text-info">No matching facilities found.</p>
            </div>
        }
        else
        {
            <table class="table" aria-label="Facility search results">
                <caption class="container py-3">
                    <div class="row align-items-center">
                        <div class="col-md mb-3 mb-md-0">
                            <form method="post">
                                <input type="hidden" asp-for="Spec.FileLabel" />
                                <input type="hidden" asp-for="Spec.FacilityNumber" />
                                <input type="hidden" asp-for="Spec.FacilityTypeId" />
                                <input type="hidden" asp-for="Spec.OrganizationalUnitId" />
                                <input type="hidden" asp-for="Spec.ComplianceOfficerId" />
                                <input type="hidden" asp-for="Spec.BudgetCodeId" />
                                <input type="hidden" asp-for="Spec.FacilityStatusId" />
                                <input type="hidden" asp-for="Spec.Name" />
                                <input type="hidden" asp-for="Spec.Location" />
                                <input type="hidden" asp-for="Spec.Address" />
                                <input type="hidden" asp-for="Spec.City" />
                                <input type="hidden" asp-for="Spec.CountyId" />
                                <input type="hidden" asp-for="Spec.State" />
                                <input type="hidden" asp-for="Spec.PostalCode" />
                                <input type="hidden" asp-for="Spec.ShowDeleted" />
                                <input type="hidden" asp-for="Spec.ShowPendingOnly" />
                                <input type="hidden" asp-for="Spec.SortBy" />
                                <input type="hidden" asp-for="Spec.FirstPass" />
                                <button id="ExportButton" asp-page-handler="ExportButton"
                                        class="btn btn-sm btn-outline-primary mb-1">
                                    Excel Export
                                </button>
                                <button id="PendingButton" asp-page-handler="PendingButton"
                                        class="btn btn-sm btn-outline-primary mb-1 @(Model.Spec.ShowPendingOnly && Model.ShowPendingOnlyCheckBox ? "" : "d-none")">
                                    Pending Report
                                </button>
                                <button id="DownloadRetentionRecords" asp-page-handler="DownloadRetentionRecords"
                                        class="btn btn-sm btn-outline-primary mb-1 @(Model.ShowPendingOnlyCheckBox ? "d-none" : "")">
                                    Retention Records Form
                                </button>
                            </form>
                        </div>
                        <div class="col-md mb-1">
                            <partial name="_PaginationNav" model="(Model.FacilityList, Model.Spec.AsRouteValues)" />
                        </div>
                        <div class="col-md text-md-end text-sm-right small mb-1">
                            <partial name="_PaginatedResultsCount" model="Model.FacilityList" />
                        </div>
                    </div>
                </caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-nowrap">
                            <a asp-fragment="SearchResults"
                               asp-all-route-data="Model.Spec.AsRouteValues"
                               asp-route-handler="search"
                               asp-route-SortBy="@(Model.Spec.SortBy == FacilitySort.FacilityNumber ? FacilitySort.FacilityNumberDesc : FacilitySort.FacilityNumber)">
                                Facility
                                @Html.DisplayFor(m => m.Spec.SortBy, "SortArrow",
                                         new { up = FacilitySort.FacilityNumber, down = FacilitySort.FacilityNumberDesc })
                            </a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues" asp-route-handler="search"
                               asp-route-SortBy="@(Model.Spec.SortBy == FacilitySort.FileLabel ? FacilitySort.FileLabelDesc : FacilitySort.FileLabel)">
                                File Label
                                @Html.DisplayFor(m => m.Spec.SortBy, "SortArrow",
                                         new { up = FacilitySort.FileLabel, down = FacilitySort.FileLabelDesc })
                            </a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues" asp-route-handler="search"
                               asp-route-SortBy="@(Model.Spec.SortBy == FacilitySort.Name ? FacilitySort.NameDesc : FacilitySort.Name)">
                                Name
                                @Html.DisplayFor(m => m.Spec.SortBy, "SortArrow",
                                         new { up = FacilitySort.Name, down = FacilitySort.NameDesc })
                            </a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a asp-fragment="SearchResults" asp-all-route-data="Model.Spec.AsRouteValues" asp-route-handler="search"
                               asp-route-SortBy="@(Model.Spec.SortBy == FacilitySort.Address ? FacilitySort.AddressDesc : FacilitySort.Address)">
                                Address
                                @Html.DisplayFor(m => m.Spec.SortBy, "SortArrow",
                                         new { up = FacilitySort.Address, down = FacilitySort.AddressDesc })
                            </a>
                        </th>
                        <th scope="col" class="text-center">Type</th>
                        <th scope="col">Online</th>
                        <th scope="col">Records</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FacilitySummaryDto item in Model.FacilityList.Items)
                    {
                        <tr class="@(!item.Active ? "table-warning" : "")">
                            <td>
                                <a asp-page="Details" asp-route-id="@item.Id" class="btn @(item.Active ? "btn-outline-info" : "btn-outline-secondary") btn-sm">
                                    @Html.DisplayFor(m => item.FacilityNumber, "StringOrNone")
                                </a>
                                @Html.DisplayFor(m => item.Active, "BoolDeleted")
                            </td>
                            <td class="text-nowrap">
                                @Html.DisplayFor(m => item.FileLabel, "StringOrNone")
                            </td>
                            <td>@Html.DisplayFor(m => item.Name, "StringOrNone")</td>
                            <td>
                                @Html.DisplayFor(m => item.Address)<br />
                                @Html.DisplayFor(m => item.City),
                                @Html.DisplayFor(m => item.State)
                                @Html.DisplayFor(m => item.PostalCode)
                            </td>
                            <td class="text-center">@Html.DisplayFor(m => item.FacilityType.Name, "FacilityTypeIcon")</td>
                            <td>@Html.DisplayFor(m => item.HasERecord)</td>
                            <td>
                                <em class="font-weight-medium">Cabinets:</em><br />
                                @Html.DisplayFor(m => item.Cabinets, "Cabinets", new { item.IsRetained })
                                @if (item.RetentionRecords.Count > 0)
                                {
                                    <div>
                                        <em class="font-weight-medium">Retention Records:</em><br />
                                        <ul class="list-unstyled">
                                            @foreach (var record in item.RetentionRecords)
                                            {
                                                <li class="text-nowrap">@record.Summary</li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <span class="align-top"><partial name="_PaginationNav" model="(Model.FacilityList, Model.Spec.AsRouteValues)" /></span>
        }
    </div>
}