@page
@model Pages.Facilities.IndexModel
@{
    ViewData["Title"] = "Facility Search";
}
@section Scripts {
    <partial name="_SearchFormScriptsPartial" />
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid bg-light py-3">
    <form method="get" asp-fragment="SearchResults">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Spec.FileId"></label>
                <select asp-for="Spec.FileId" asp-items="Model.Files" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.FacilityNumber"></label>
                <input asp-for="Spec.FacilityNumber" class="form-control" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.FacilityTypeId"></label>
                <select asp-for="Spec.FacilityTypeId" asp-items="Model.FacilityTypes" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.OrganizationalUnitId"></label>
                <select asp-for="Spec.OrganizationalUnitId" asp-items="Model.OrganizationalUnits" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Spec.ComplianceOfficerId"></label>
                <select asp-for="Spec.ComplianceOfficerId" asp-items="Model.ComplianceOfficers" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.BudgetCodeId"></label>
                <select asp-for="Spec.BudgetCodeId" asp-items="Model.BudgetCodes" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.EnvironmentalInterestId"></label>
                <select asp-for="Spec.EnvironmentalInterestId" asp-items="Model.EnvironmentalInterests" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Spec.FacilityStatusId"></label>
                <select asp-for="Spec.FacilityStatusId" asp-items="Model.FacilityStatuses" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Spec.Name"></label>
                <input asp-for="Spec.Name" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Spec.Address"></label>
                <input asp-for="Spec.Address" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Spec.City"></label>
                <input asp-for="Spec.City" class="form-control" />
            </div>
            <div class="form-group col">
                <label asp-for="Spec.CountyId"></label>
                <select asp-for="Spec.CountyId" asp-items="Model.Counties" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.State"></label>
                <select asp-for="Spec.State" asp-items="Model.States" class="custom-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group col">
                <label asp-for="Spec.PostalCode"></label>
                <input asp-for="Spec.PostalCode" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="form-check">
                <input asp-for="Spec.ActiveOnly" />
                <label asp-for="Spec.ActiveOnly" class="form-check-label"></label>
            </div>
        </div>
        <input type="hidden" name="handler" value="search" />
        <button id="SearchButton" type="submit" class="btn btn-primary col-sm-3 col-md-2">Search</button>
        <a asp-page="./Index" class="btn btn-outline-secondary col-sm-3 col-md-2">Clear form</a>
    </form>
</div>

@if (Model.ShowResults)
{
    <a name="SearchResults"></a>

    @if (Model.FacilityList != null && Model.FacilityList.Count > 0)
    {
        <table class="table table-borderless">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(m => m.Spec.FacilityNumber)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.Spec.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.Spec.Address)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.Spec.City)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.Spec.State)</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.Spec.PostalCode)</th>
                    <th scope="col" class="text-center">Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FacilityList)
                {
                    <tr>
                        <td>
                            <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">
                                @Html.DisplayFor(m => item.FacilityNumber)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td>@Html.DisplayFor(m => item.Address)</td>
                        <td>@Html.DisplayFor(m => item.City)</td>
                        <td>@Html.DisplayFor(m => item.State)</td>
                        <td>@Html.DisplayFor(m => item.PostalCode)</td>
                        <td class="text-center">@Html.DisplayFor(m => item.Active)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="container mt-2">
            <p class="lead text-info">No matching facilities found.</p>
        </div>
    }
}
