@page "{id:Guid?}"
@using FMS.Pages.Maintenance
@model FMS.Pages.Maintenance.AllowedActionTaken.EditModel

@section Scripts {
    <script src="~/js/formIndex.js"></script>
}

@{
    ViewData["Title"] = $"Site Maintenance: {MaintenanceOptions.AllowedActionTaken} for {Model.EventType.Name}";
}

<a asp-page="/AllowedActionsTaken/Index">← Back</a>
<h1>
    @ViewData["Title"]
</h1>
<partial name="_AlertPartial" for="DisplayMessage" id="alert" />

<form method="post">
    <table class="table" aria-label="List of Actions Taken codes">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-md-4">Action Taken Name</th>
                <th scope="col" class="col-md-2">Action Taken Active</th>
                <th scope="col" class="col-md-2">Event Type Active</th>
                <th scope="col" class="col-md-2">Allowed Active</th>
                <th scope="col" class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i=0; i < Model.AllowedActionsTakenList.Count; i++)
            {
                <tr class="@(!Model.AllowedActionsTakenList[i].Active || !Model.AllowedActionsTakenList[i].ActionTakenActive || !Model.AllowedActionsTakenList[i].EventTypeActive ? "table-warning" : "")">
                    <td class="text-nowrap">@Html.DisplayFor(m => Model.AllowedActionsTakenList[i].ActionTakenName)</td>
                    <td>@Html.DisplayFor(m => Model.AllowedActionsTakenList[i].ActionTakenActive)</td>
                    <td>@Html.DisplayFor(m => Model.AllowedActionsTakenList[i].EventTypeActive)</td>
                    <td>@Html.DisplayFor(m => Model.AllowedActionsTakenList[i].Active)</td>
                    <td class="text-nowrap">
                        @if (Model.AllowedActionsTakenList[i].Active)
                        {
                            <button asp-type="submit" name="item" class="btn btn-outline-danger btn-sm">Delete from list</button>
                        }
                        else
                        {
                            <button type="submit" name="item" class="btn btn-outline-primary btn-sm">Add to list</button>
                        }
                    </td>
                </tr>
                <input asp-for="AllowedActionTakenSpec.Id" value="@Model.AllowedActionsTakenList[i].Id" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.Active" value="@Model.AllowedActionsTakenList[i].Active" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.EventTypeId" value="@Model.AllowedActionsTakenList[i].EventTypeId" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.EventTypeName" value="@Model.AllowedActionsTakenList[i].EventTypeName" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.EventTypeActive" value="@Model.AllowedActionsTakenList[i].EventTypeActive" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.ActionTakenId" value="@Model.AllowedActionsTakenList[i].ActionTakenId" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.ActionTakenName" value="@Model.AllowedActionsTakenList[i].ActionTakenName" type="hidden" />
                <input asp-for="AllowedActionTakenSpec.ActionTakenActive" value="@Model.AllowedActionsTakenList[i].ActionTakenActive" type="hidden" />
            }
        </tbody>
    </table>
</form>